@{
    ViewBag.Title = "Auditar Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var message = TempData["msg"] ?? string.Empty;
}


<div class="container2">
    <div class="row col-lg-12">
        <h3 class="page-header">Auditar Ventas</h3>
    </div>
    <div class="row col-lg-12">
        <div class="row">
            <table>
                <tr style="height: 60px;">
                    <td style="width:1%"></td>
                    <td style="width:15%"><label>Nombre de Franquicia: </label></td>
                    <td style="width:10%">
                        <div class="col-md-4 width-dash-sh">
                            <div class="col-md-8">
                                <select class="form-control selectpicker" name="cboFranquicia" id="cboFranquicia" style="width:180px"></select>
                            </div>
                        </div>
                    </td>
                    <td style="width:5%"><label>Local: </label></td>
                    <td style="width:15%">
                        <div class="col-md-4 width-dash-sh">
                            <div class="col-md-8">
                                <select class="form-control selectpicker" name="cboLocal" id="cboLocal" style="width:200px"></select>
                            </div>
                        </div>
                    </td>
                    <td style="width:5%"><label>Año: </label></td>
                    <td style="width:15%">
                        <div class="col-md-4 width-dash-sh">
                            <select class="form-control selectpicker" name="cboPeriodo" id="cboPeriodo" style="width:155px"></select>
                        </div>
                    </td>
                    <td style="width:15%">
                        <span class="input-group-btn">
                            <a class="btn btn-primary" href='#' onclick="Auditar();" id='btnAuditar' title='Auditar'>
                                <span class='glyphicon glyphicon-task'>
                                    Auditar
                                </span>
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="divReporte" class="panel panel-primary ocultardiv">
            <div class="panel-heading">
                <i class="fa fa fa-area-chart fa-fw"></i> Reporte
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="line-chart" class="col-lg-8"></div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i> Resultados
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-money fa-fw"></i> <b>Pronostico de Ingresos:</b>
                                            <span class="pull-right text-muted small">
                                                <label id="lblPronostico"></label>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-quora fa-fw"></i><b>Quota de Ingresos:</b>
                                            <span class="pull-right text-muted small">
                                                <label id="lblQuota"></label>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-desktop fa-fw"></i>
                                            <span class="pull-right text-muted small">
                                                <label id="lblMensaje"></label>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-tasks fa-fw"></i><b> MAD (Margen de desviación):</b>
                                            <span class="pull-right text-muted small">
                                                <label id="lblMad"></label>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <section class="scripts">

    <script type="text/javascript">

        $(function () {
            var bindDatePicker = function () {
                $(".date").datetimepicker({
                    format: 'YYYY',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                }).find('input:first').on("blur", function () {
                    var date = parseDate($(this).val());

                    if (!isValidDate(date)) {
                        date = moment().format('');
                    }

                    $(this).val(date);
                });
            }

            var isValidDate = function (value, format) {
                format = format || false;
                if (format) {
                    value = parseDate(value);
                }

                var timestamp = Date.parse(value);

                return isNaN(timestamp) == false;
            }

            var parseDate = function (value) {
                var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
                if (m)
                    value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

                return value;
            }

            bindDatePicker();
        });

        $(document).ready(function () {
            CargarFranquicia();
            CargarPeriodo();
            $('#cboLocal').append('<option value="0">--SELECCIONE--</option>');    
        });

        function CargarFranquicia() {
            $.get('@Url.Action("ListaFranquicias", "AuditarVenta")')
            .done(function (data) {
                $('#cboFranquicia').empty();
                $('#cboFranquicia').append('<option value="0">--SELECCIONE--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Id);
                    $option.html(row.Nombre);
                    $('#cboFranquicia').append($option);
                })
            })
            .fail(function (jqXHR, textStatus, error) {
                console.log("Post error: " + error);
            });
        }

        $('#cboFranquicia').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var franquiciaId = this.value;
            CargaLocal(franquiciaId);
        });

        function CargarPeriodo() {
            $.get('@Url.Action("ListaPeriodo", "AuditarVenta")')
            .done(function (data) {
                $('#cboPeriodo').empty();
                $('#cboPeriodo').append('<option value="0">--SELECCIONE--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Nombre);
                    $option.html(row.Nombre);
                    $('#cboPeriodo').append($option);
                })
            })
            .fail(function (data) {
                console.log('error');
            });
        }

        function Auditar() {
            var franquiciaId = $('select[name=cboFranquicia]').val();
            var localId = $('select[name=cboLocal]').val();
            var periodo = $('select[name=cboPeriodo]').val();

            if (franquiciaId == 0) {
                bootbox.alert({
                    message: "Seleccione franquicia",
                    size: 'small'
                });
                return false;
            }

            if (localId == 0) {
                bootbox.alert({
                    message: "Seleccione local",
                    size: 'small'
                });
                return false;
            }

            if (periodo == 0) {
                bootbox.alert({
                    message: "Seleccione año",
                    size: 'small'
                });
                return false;
            }

            $.ajax({
                url: "/AuditarVenta/Auditar",
                type: "GET",
                data: { franquicia: franquiciaId, local: localId, periodo: periodo},
                dataType: "html",
                traditional: true,
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == undefined) {
                        var rep = jQuery.parseJSON(data);
                        $("#lblPronostico").text(rep.Pronostico);
                        $("#lblQuota").text(rep.Quota);
                        $("#lblMensaje").text(rep.Mensaje);
                        $("#lblMad").text(rep.Mad);
                        var local = $("#cboFranquicia option:selected").text() + " - " + $("#cboLocal option:selected").text();
                        var periodo = $("#cboPeriodo option:selected").text();
                        LoadGraficoLine(rep.ListaGrafico, rep.Quota, local, periodo);
                        $("#divReporte").removeClass("ocultardiv");
                    } else {
                        if (data.status == false) {
                            bootbox.alert({
                                message: data.message,
                                size: 'small'
                            });
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    bootbox.alert('error', textStatus, 'Error');
                }
            });
        }


        function CargaLocal(franquicia) {
            $.get('@Url.Action("ListaLocalesXFranquicia", "AuditarVenta")', { franquicia: franquicia })
            .done(function (data) {
                $('#cboLocal').empty();
                $('#cboLocal').append('<option value="0">--SELECCIONE--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Id);
                    $option.html(row.Nombre);
                    $('#cboLocal').append($option);
                });
            })
            .fail(function (data) {
                console.log('error');
            });
        }

        function LoadGraficoLine(data, quota, local, periodo)
        {
            FusionCharts.ready(function () {
                var revenueChart = new FusionCharts({
                    type: 'column2d',
                    renderAt: 'line-chart',
                    width: '650',
                    height: '450',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Proyección de ventas anuales (" + periodo + ")",
                            "subCaption": local,
                            "xAxisName": "Meses",
                            "yAxisName": "Montos (En Soles)",
                            "numberPrefix": "S/.",
                            "paletteColors": "#0075c2",
                            "bgColor": "#ffffff",
                            "borderAlpha": "20",
                            "canvasBorderAlpha": "0",
                            "usePlotGradientColor": "0",
                            "plotBorderAlpha": "10",
                            "placevaluesInside": "1",
                            "rotatevalues": "1",
                            "valueFontColor": "#ffffff",
                            "showXAxisLine": "1",
                            "xAxisLineColor": "#999999",
                            "divlineColor": "#999999",
                            "divLineIsDashed": "1",
                            "showAlternateHGridColor": "0",
                            "subcaptionFontBold": "0",
                            "subcaptionFontSize": "14"
                        },
                        "data": data,
                        "trendlines": [
                            {
                                "line": [
                                    {
                                        "startvalue": quota,
                                        "color": "#1aaf5d",
                                        "valueOnRight": "1",
                                        "displayvalue": "Quota objetivo"
                                    }
                                ]
                            }
                        ]
                    }
                }).render();
            });
        }

    </script>

    </section>
}
