*.dll
*.pdb
*.dll
*.dll
*.dll
*.dll
*.dll
Fuentes/Web/SISGFRAN/DAAB/bin/Debug/DAAB.dll
Fuentes/Web/SISGFRAN/DAAB/bin/Debug/DAAB.pdb
*.cache
Fuentes/Web/SISGFRAN/DAAB/obj/Debug/DAAB.pdb
*.svg
*.js
*.nupkg
*.nuspec
*.css
*.css
*.js
*.js
*.xml
*.xml
*.config
*.suo
*.config
*.dll
*.pdb
*.config
*.pdb
*.dll
*.cache
*.txt
*.cache
*.pdb
*.cs
*.settings
*.txt
*.cache
*.config
*.cs
