USE MASTER 
GO
IF EXISTS(SELECT * FROM DBO.SYSDATABASES WHERE NAME = 'db_pardos_dev') -- SI EXISTE LA BASE DE DATOS CON ESTE NOMBRE ENTONCES HAREMOS LO SIGUIENTE
    BEGIN
             USE MASTER -- USAMOS UNA BASE DE DATOS DIFERENTE AL Q TENEMOS YA Q SI NO NO PODREMOS ELIMINARLO
             DROP DATABASE db_pardos_dev; -- ELIMINAMOS LA BASE DE DATOS PORQ EXISTE
    END
   -- PROCEDEMOS A CREAR NUESTRA BASE DE DATOS
CREATE DATABASE db_pardos_dev;
GO   
   -- USAMOS LA BASE DE DATOS
USE db_pardos_dev
GO
CREATE SCHEMA GFR;
GO



/****** Object:  StoredProcedure [dbo].[USPU_Solicitud]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPU_Solicitud]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPU_Solicitud]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Usuario]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Usuario]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitudXSolicitante]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_SolicitudXSolicitante]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_SolicitudXSolicitante]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitanteXEvaluar]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_SolicitanteXEvaluar]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_SolicitanteXEvaluar]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ResultadoEvaluacion]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_ResultadoEvaluacion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_ResultadoEvaluacion]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Perfil]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Perfil]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_Perfil]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Parametro]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Parametro]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_Parametro]
GO
/****** Object:  StoredProcedure [dbo].[USPS_OpcionXPerfil]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_OpcionXPerfil]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_OpcionXPerfil]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Opcion]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Opcion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_Opcion]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Login]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Login]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPS_Login]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ResultadoEvaluacion]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPI_ResultadoEvaluacion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPI_ResultadoEvaluacion]
GO
/****** Object:  StoredProcedure [dbo].[USPI_EvaluacionSolicitante]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPI_EvaluacionSolicitante]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USPI_EvaluacionSolicitante]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Solicitante_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[Solicitante]'))
ALTER TABLE [dbo].[Solicitante] DROP CONSTRAINT [FK_Solicitante_Solicitud]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReporteEvaluacion_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReporteEvaluacion]'))
ALTER TABLE [dbo].[ReporteEvaluacion] DROP CONSTRAINT [FK_ReporteEvaluacion_Solicitud]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Entrevista_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[Entrevista]'))
ALTER TABLE [dbo].[Entrevista] DROP CONSTRAINT [FK_Entrevista_Solicitud]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ubigeo]') AND type in (N'U'))
DROP TABLE [dbo].[Ubigeo]
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Solicitud]') AND type in (N'U'))
DROP TABLE [dbo].[Solicitud]
GO
/****** Object:  Table [dbo].[Solicitante]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Solicitante]') AND type in (N'U'))
DROP TABLE [dbo].[Solicitante]
GO
/****** Object:  Table [dbo].[ReporteEvaluacion]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReporteEvaluacion]') AND type in (N'U'))
DROP TABLE [dbo].[ReporteEvaluacion]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Perfil]') AND type in (N'U'))
DROP TABLE [dbo].[Perfil]
GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Parametro]') AND type in (N'U'))
DROP TABLE [dbo].[Parametro]
GO
/****** Object:  Table [dbo].[OpcionPerfil]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OpcionPerfil]') AND type in (N'U'))
DROP TABLE [dbo].[OpcionPerfil]
GO
/****** Object:  Table [dbo].[Opcion]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Opcion]') AND type in (N'U'))
DROP TABLE [dbo].[Opcion]
GO
/****** Object:  Table [dbo].[HistorialContrasenia]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HistorialContrasenia]') AND type in (N'U'))
DROP TABLE [dbo].[HistorialContrasenia]
GO
/****** Object:  Table [dbo].[Entrevista]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Entrevista]') AND type in (N'U'))
DROP TABLE [dbo].[Entrevista]
GO
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aplicacion]') AND type in (N'U'))
DROP TABLE [dbo].[Aplicacion]
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_ENCRIPT]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UFN_PASS_ENCRIPT]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[UFN_PASS_ENCRIPT]
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_DECRIPT]    Script Date: 23/07/2017 09:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UFN_PASS_DECRIPT]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[UFN_PASS_DECRIPT]
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_DECRIPT]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UFN_PASS_DECRIPT]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'
/**************************************/
/************ Funciones  **************/
/**************************************/

-- DROP FUNCTION UFN_PASS_DECRIPT
CREATE FUNCTION [dbo].[UFN_PASS_DECRIPT](@PASS VARBINARY(8000)) RETURNS VARCHAR(50) 
--
BEGIN
	
	DECLARE @D_PASS AS VARCHAR(50)

	SET @D_PASS = DECRYPTBYPASSPHRASE(''Encript0110'', @PASS)

	RETURN @D_PASS

END

' 
END

GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_ENCRIPT]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UFN_PASS_ENCRIPT]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'
-- DROP FUNCTION UFN_PASS_ENCRIPT
CREATE FUNCTION [dbo].[UFN_PASS_ENCRIPT](@PASS VARCHAR(50)) RETURNS VARBINARY(8000) 
--
BEGIN
	
	DECLARE @D_PASS AS  VARBINARY(8000)

	SET @D_PASS = ENCRYPTBYPASSPHRASE(''Encript0110'', @PASS)

	RETURN @D_PASS

END

' 
END

GO
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aplicacion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Aplicacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoAplicacion] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Estado] [int] NULL,
 CONSTRAINT [PK_Aplicacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Entrevista]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Entrevista]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Entrevista](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[FechaEntrevisa] [varchar](10) NULL,
	[HoraEntrevisa] [varchar](5) NULL,
	[EntrevistadorId] [int] NOT NULL,
	[LugarId] [int] NOT NULL,
	[Observacion] [varchar](250) NULL,
	[Estado] [int] NOT NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Entrevista] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HistorialContrasenia]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HistorialContrasenia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HistorialContrasenia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ContraseniaAnt] [varchar](100) NOT NULL,
	[ContraseniaAct] [varchar](100) NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_HistorialContrasenia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Opcion]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Opcion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Opcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AplicacionId] [int] NOT NULL,
	[PadreId] [int] NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Nivel] [int] NULL,
	[NivelPadre] [int] NULL,
	[Imagen] [varchar](50) NULL,
	[Controler] [varchar](50) NULL,
	[Accion] [varchar](50) NULL,
	[Orden] [int] NULL,
	[Observacion] [varchar](50) NULL,
	[Estado] [tinyint] NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[OpcionPerfil]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OpcionPerfil]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OpcionPerfil](
	[AplicacionId] [int] NOT NULL,
	[PerfilId] [int] NOT NULL,
	[OpcionId] [int] NOT NULL,
	[Escritura] [bit] NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Parametro]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Parametro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoGrupo] [int] NOT NULL,
	[Grupo] [varchar](50) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Valor] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
	[ValueText1] [varchar](255) NULL,
	[ValueText2] [varchar](255) NULL,
	[ValueText3] [varchar](255) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Parametro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Perfil]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Perfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AplicacionId] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ReporteEvaluacion]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReporteEvaluacion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ReporteEvaluacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[FechaReporte] [datetime] NULL,
	[ResultadoEjercicio] [varchar](250) NULL,
	[ErroresEncontrados] [varchar](400) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_ReporteEvaluacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Solicitante]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Solicitante]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Solicitante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoSolicitanteId] [int] NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[Nombres] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[RazonSocial] [varchar](250) NULL,
	[TipoDocumentoId] [int] NULL,
	[NumeroDocumento] [varchar](15) NULL,
	[SexoId] [int] NULL,
	[EstadoCivilId] [int] NULL,
	[FechaIniCargoAct] [datetime] NULL,
	[FechaFinCargoAct] [datetime] NULL,
	[NombreJefeDirecto] [varchar](250) NULL,
	[TelefonoJefeDirecto] [varchar](15) NULL,
	[FechaConstitucion] [datetime] NULL,
	[ActividadEconomica] [varchar](250) NULL,
	[NumeroEmpleados] [int] NULL,
	[MontoIngresosAnuales] [decimal](18, 2) NULL,
	[UbigeoDireccion] [varchar](6) NULL,
	[Direccion] [varchar](250) NULL,
	[Email] [varchar](50) NULL,
	[Telefono] [varchar](15) NULL,
	[InstitucionEducativa] [varchar](100) NULL,
	[TituloObtenido] [varchar](50) NULL,
	[DuracionEstudios] [int] NULL,
	[Idiomas] [varchar](50) NULL,
	[Empresa] [varchar](100) NULL,
	[Cargo] [varchar](100) NULL,
	[MontoIngresosMes] [decimal](18, 2) NULL,
	[MontoGastosMes] [decimal](18, 2) NULL,
	[Observacion] [varchar](250) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
	[FechaNacimiento] [smalldatetime] NULL,
	[FueAprobado] [bit] NULL,
 CONSTRAINT [PK_Solicitante] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Solicitud]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Solicitud](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumSolicitud] [varchar](15) NULL,
	[FechaSolicitud] [datetime] NULL,
	[CiudadInteres] [varchar](50) NULL,
	[UbigeoCiudadInteres] [varchar](6) NULL,
	[MontoCapital] [decimal](18, 2) NULL,
	[FuenteFinanciamiento] [varchar](50) NULL,
	[FechaInicioOperacion] [datetime] NULL,
	[LocalDisponible] [int] NULL,
	[CondicionLocalId] [int] NULL,
	[UbigeoLocal] [varchar](6) NULL,
	[DireccionLocal] [varchar](250) NULL,
	[TipoUbicacionLocalId] [int] NULL,
	[ReferenciaComercial] [varchar](500) NULL,
	[ReferenciaBancaria] [varchar](500) NULL,
	[Estado] [int] NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Solicitud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ubigeo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Ubigeo](
	[Id] [char](6) NOT NULL,
	[DepartamentoId] [char](2) NULL,
	[ProvinciaId] [char](2) NULL,
	[DistritoId] [char](2) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Ubigeo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/07/2017 09:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PerfilId] [int] NOT NULL,
	[CtaUsuario] [varchar](25) NOT NULL,
	[Contrasenia] [varbinary](8000) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Cargo] [varchar](48) NULL,
	[Email] [varchar](255) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [tinyint] NOT NULL,
	[CambiarContrasenia] [bit] NULL,
	[FechaVencimientoCta] [datetime] NULL,
	[FechaVencimiento] [datetime] NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Aplicacion] ON 

INSERT [dbo].[Aplicacion] ([Id], [CodTipoAplicacion], [Descripcion], [Estado]) VALUES (1, 1, N'Sistema de Gestion de Franquicias', 1)
SET IDENTITY_INSERT [dbo].[Aplicacion] OFF
SET IDENTITY_INSERT [dbo].[Opcion] ON 

INSERT [dbo].[Opcion] ([Id], [AplicacionId], [PadreId], [Nombre], [Nivel], [NivelPadre], [Imagen], [Controler], [Accion], [Orden], [Observacion], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, NULL, N'Franquicia', 1, 0, N'fa-arrows-v', NULL, NULL, 1, NULL, 1, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Opcion] ([Id], [AplicacionId], [PadreId], [Nombre], [Nivel], [NivelPadre], [Imagen], [Controler], [Accion], [Orden], [Observacion], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 1, 1, N'Registro de solicitud', 2, 1, N'fa-file-archive-o', N'Home', N'Index', 1, NULL, 1, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Opcion] ([Id], [AplicacionId], [PadreId], [Nombre], [Nivel], [NivelPadre], [Imagen], [Controler], [Accion], [Orden], [Observacion], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, 1, 1, N'Explorador de solicitudes de franquicia pendientes', 2, 1, N'fa-clock-o', N'Solicitud', N'Index', 2, NULL, 1, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Opcion] OFF
INSERT [dbo].[OpcionPerfil] ([AplicacionId], [PerfilId], [OpcionId], [Escritura], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, 1, 1, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[OpcionPerfil] ([AplicacionId], [PerfilId], [OpcionId], [Escritura], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, 2, 1, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[OpcionPerfil] ([AplicacionId], [PerfilId], [OpcionId], [Escritura], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, 3, 1, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Parametro] ON 

INSERT [dbo].[Parametro] ([Id], [CodigoGrupo], [Grupo], [Codigo], [Nombre], [Valor], [Descripcion], [ValueText1], [ValueText2], [ValueText3], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, N'CONDICION_LOCAL', 1, N'PROPIO', NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Parametro] ([Id], [CodigoGrupo], [Grupo], [Codigo], [Nombre], [Valor], [Descripcion], [ValueText1], [ValueText2], [ValueText3], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 1, N'CONDICION_LOCAL', 2, N'ALQUILADO', NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Parametro] ([Id], [CodigoGrupo], [Grupo], [Codigo], [Nombre], [Valor], [Descripcion], [ValueText1], [ValueText2], [ValueText3], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, 2, N'UBICACION_LOCAL', 1, N'CALLE CÉNTRICA', NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Parametro] OFF
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([Id], [AplicacionId], [Nombre], [Descripcion], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, N'ADMIN', N'USUARIO ADMINISTRADOR A TODO EL SISTEMA', 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Perfil] ([Id], [AplicacionId], [Nombre], [Descripcion], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 1, N'ANALISTA MKT', N'USUARIO ENCARGADO DE LA CONFIGURACION Y CONSULTA DE DATOS ASIGNADOS A SU PERFIL', 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Perfil] ([Id], [AplicacionId], [Nombre], [Descripcion], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, 2, N'MOVIL', N'USUARIO CON ACCESO SOLO AL EQUIPO MOVIL PARA RECOPILAR DATOS', 1, NULL, CAST(N'2016-11-18T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Perfil] OFF
SET IDENTITY_INSERT [dbo].[Solicitante] ON 

SET IDENTITY_INSERT [dbo].[Solicitante] OFF
SET IDENTITY_INSERT [dbo].[Solicitud] ON 

SET IDENTITY_INSERT [dbo].[Solicitud] OFF
INSERT [dbo].[Ubigeo] ([Id], [DepartamentoId], [ProvinciaId], [DistritoId], [Nombre], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (N'010000', N'01', N'00', N'00', N'AMAZONAS', 1, 1, NULL, CAST(N'2016-11-19T00:25:19.083' AS DateTime), NULL)
INSERT [dbo].[Ubigeo] ([Id], [DepartamentoId], [ProvinciaId], [DistritoId], [Nombre], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (N'010100', N'01', N'01', N'00', N'CHACHAPOYAS', 1, 1, NULL, CAST(N'2016-11-19T00:25:19.083' AS DateTime), NULL)
INSERT [dbo].[Ubigeo] ([Id], [DepartamentoId], [ProvinciaId], [DistritoId], [Nombre], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (N'010101', N'01', N'01', N'01', N'CHACHAPOYAS', 1, 1, NULL, CAST(N'2016-11-19T00:25:19.083' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [PerfilId], [CtaUsuario], [Contrasenia], [Nombres], [Apellidos], [Cargo], [Email], [Telefono], [Estado], [CambiarContrasenia], [FechaVencimientoCta], [FechaVencimiento], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, N'ADMIN', 0x0100000085D893381EAA022EC83C7363DEF9AF73E3BDE2A6F6BA10A3, N'CASTILLO', N'CARLOS', N'ADNUB', N'ADIAZ@GMAI.COM', N'987654321', 1, 0, NULL, NULL, 1, NULL, CAST(N'2016-11-19T01:00:07.020' AS DateTime), NULL)
INSERT [dbo].[Usuario] ([Id], [PerfilId], [CtaUsuario], [Contrasenia], [Nombres], [Apellidos], [Cargo], [Email], [Telefono], [Estado], [CambiarContrasenia], [FechaVencimientoCta], [FechaVencimiento], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 2, N'ZPEREZ@GMAIL.COM', 0x010000007869F0A91080CAB64D59A71D0B7DA1AB44F3B949E2F00D5C, N'ZALESKY', N'PEREZ', N'SYER', N'ZPEREZ@GMAIL.COM', N'876954321', 1, 0, NULL, NULL, 1, NULL, CAST(N'2016-11-19T01:01:37.813' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Entrevista_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[Entrevista]'))
ALTER TABLE [dbo].[Entrevista]  WITH CHECK ADD  CONSTRAINT [FK_Entrevista_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitud] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Entrevista_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[Entrevista]'))
ALTER TABLE [dbo].[Entrevista] CHECK CONSTRAINT [FK_Entrevista_Solicitud]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReporteEvaluacion_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReporteEvaluacion]'))
ALTER TABLE [dbo].[ReporteEvaluacion]  WITH CHECK ADD  CONSTRAINT [FK_ReporteEvaluacion_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitud] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ReporteEvaluacion_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReporteEvaluacion]'))
ALTER TABLE [dbo].[ReporteEvaluacion] CHECK CONSTRAINT [FK_ReporteEvaluacion_Solicitud]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Solicitante_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[Solicitante]'))
ALTER TABLE [dbo].[Solicitante]  WITH CHECK ADD  CONSTRAINT [FK_Solicitante_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitud] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Solicitante_Solicitud]') AND parent_object_id = OBJECT_ID(N'[dbo].[Solicitante]'))
ALTER TABLE [dbo].[Solicitante] CHECK CONSTRAINT [FK_Solicitante_Solicitud]
GO
/****** Object:  StoredProcedure [dbo].[USPI_EvaluacionSolicitante]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPI_EvaluacionSolicitante]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPI_EvaluacionSolicitante] AS' 
END
GO
ALTER PROCEDURE [dbo].[USPI_EvaluacionSolicitante]
	@IdSolicitante int,
	@FueAprobado bit
AS
BEGIN
	
	UPDATE Solicitante SET FueAprobado = @FueAprobado
	WHERE Id = @IdSolicitante

END

GO
/****** Object:  StoredProcedure [dbo].[USPI_ResultadoEvaluacion]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPI_ResultadoEvaluacion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPI_ResultadoEvaluacion] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPI_ResultadoEvaluacion]
ALTER PROCEDURE [dbo].[USPI_ResultadoEvaluacion]
	@solicitudId	int,
	@resultado		varchar(250),
	@errores		varchar(400),
	@usuarioId		int,
	@idResultadoEva	int OUT,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRAN [ti_ResultadoE]
BEGIN TRY

	insert into ReporteEvaluacion(  SolicitudId, 
									FechaReporte, 
									ResultadoEjercicio, 
									ErroresEncontrados, 
									AuditoriaUC, 
									AuditoriaFC)
	Values (@solicitudId, GETDATE(),
		@resultado, @errores, @usuarioId, GETDATE());
	
	Select @idResultadoEva = SCOPE_IDENTITY();

	Set @coderr = 0
	Set @msgerr = 'OK'

	COMMIT TRAN [ti_ResultadoE]

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	ROLLBACK TRAN [ti_ResultadoE]
	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_Login]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Login]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_Login] AS' 
END
GO

/**************************************/
/********* Stores Procedures **********/
/**************************************/

-- DROP PROCEDURE [dbo].[USPS_Login]
ALTER PROCEDURE [dbo].[USPS_Login]
	@usuario		nvarchar(50),
	@clave			nvarchar(50),
	@idAplicativo	int,
	@userID			int OUT,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY
	Declare @cant int
	Declare @perfilID int

	if len(@usuario) = 0
	begin
		RAISERROR('Ingrese el valor del Usuario',16,1)
	end

	if len(@clave) = 0
	begin
		RAISERROR('Ingrese el valor de la clave',16,1)
	end

	SELECT @cant = count(U.Id)
	FROM Usuario u
	WHERE Upper(U.CtaUsuario) = UPPER(@usuario)
	AND u.Estado = 1

	if (@cant > 0)
	begin

		declare @pass as varchar(50)

		Select @pass = dbo.UFN_PASS_DECRIPT(u.contrasenia) 
		from Usuario u 
		where u.CtaUsuario = @usuario
		AND U.Estado = 1
		
		if (@pass COLLATE Latin1_General_CS_AS = @clave Collate Latin1_General_CS_AS) 
		Begin
			
			SELECT @userID = U.Id, @perfilID = U.PerfilId
			FROM Usuario u
			WHERE Upper(U.CtaUsuario) = UPPER(@usuario)

			if NOT EXISTS(SELECT 1 FROM OpcionPerfil A 
							WHERE A.AplicacionId = @idAplicativo
							AND A.PerfilId = @perfilID)
			begin
				RAISERROR('Usted no tiene permisos para acceder al aplicativo',16,1)
			end
			else
			begin
				set @coderr = 0
				set @msgerr = 'OK' 
			end
		end
		else
			RAISERROR('Usuario o clave incorrectos',16,1)
	end
	else
		RAISERROR('Usuario no registrado',16,1)
	
END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)	
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_Opcion]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Opcion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_Opcion] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPS_Opcion]
ALTER PROCEDURE [dbo].[USPS_Opcion]
	@idOpcion		int,
	@idapp			int,
	@estado			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	O.Id,
			O.AplicacionId,
			A.Descripcion as Aplicacion,
			O.Nombre,
			O.PadreId,
			O.Nivel,
			O.NivelPadre,
			O.Imagen,
			O.Controler,
			O.Accion,
			O.Orden,
			O.Observacion,
			O.Estado
	FROM Opcion O
		INNER JOIN Aplicacion A ON o.AplicacionId = A.Id
	WHERE ((@idOpcion = -1) OR (O.Id = @idOpcion)) 
	AND ((@idapp = -1) OR (O.AplicacionId = @idapp))
	AND ((@estado = -1) OR (O.Accion = @estado))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_OpcionXPerfil]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_OpcionXPerfil]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_OpcionXPerfil] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPS_OpcionXPerfil]
ALTER PROCEDURE [dbo].[USPS_OpcionXPerfil]
	@idapp			int,
	@idperfil		int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	OP.OpcionId,
			O.Nombre as Opcion,
			OP.AplicacionId,
			A.Descripcion as Aplicacion,
			OP.PerfilId,
			P.Nombre as Perfil,
			OP.Escritura
	FROM OpcionPerfil OP
		INNER JOIN Aplicacion A ON OP.AplicacionId = A.Id
		INNER JOIN Perfil P ON OP.PerfilId = P.Id
		INNER JOIN Opcion O ON OP.OpcionId= O.Id
	WHERE ((@idapp = -1) OR (OP.AplicacionId = @idapp))
	AND ((@idperfil = -1) OR (OP.PerfilId = @idperfil))
	order by O.orden
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_Parametro]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Parametro]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_Parametro] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPS_Parametro]
ALTER PROCEDURE [dbo].[USPS_Parametro]
	@codigo			int,
	@idAgrupador	int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	IF (@codigo <> 0)
	BEGIN
		SELECT	p.Codigo, 
				p.Nombre,
				p.Valor,
				p.CodigoGrupo,
				p.Grupo,
				p.Descripcion,
				p.ValueText1,
				p.ValueText2,
				p.ValueText3
		FROM Parametro P
		WHERE p.Id = @CODIGO;
	END
	ELSE
	BEGIN
		SELECT	p.Codigo, 
				p.Nombre,
				p.Valor,
				p.CodigoGrupo,
				p.Grupo,
				p.Descripcion,
				p.ValueText1,
				p.ValueText2,
				p.ValueText3
		FROM Parametro P
		WHERE P.CodigoGrupo = @idAgrupador;
		
	END
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_Perfil]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Perfil]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_Perfil] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPS_Perfil]
ALTER PROCEDURE [dbo].[USPS_Perfil]
	@idperfil		int,
	@idapp			int,
	@nombre			varchar(50),
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	P.Id,
			P.Nombre,
			P.Descripcion,
			p.AplicacionId,
			A.Descripcion as Aplicacion
	FROM Perfil P
		inner join Aplicacion A on P.AplicacionId = A.Id and A.Estado = 1
	WHERE ((@idperfil = -1) OR (P.Id = @idperfil))
	AND ((@idapp = -1) OR (P.AplicacionId = @idapp))
	AND ((@nombre = '') OR (UPPER(P.Nombre) like '%' + UPPER(@nombre) + '%'))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)

END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_ResultadoEvaluacion]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_ResultadoEvaluacion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_ResultadoEvaluacion] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPS_ResultadoEvaluacion]
ALTER PROCEDURE [dbo].[USPS_ResultadoEvaluacion]
	@solicitudId	int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	RE.Id as ReporteEvalId,
			S.Id as SolicitudId,
			S.NumSolicitud,
			S.MontoCapital,
			S.FechaSolicitud,
			S.Estado as EstadoId,
			E.Nombre as Estado,
			SL.ApellidoMaterno,
			SL.ApellidoPaterno,
			SL.Nombres,
			RE.FechaReporte,
			RE.ResultadoEjercicio,
			RE.ErroresEncontrados
	FROM Solicitud S
	inner join Solicitante SL on S.id = SL.SolicitudId
	inner join ReporteEvaluacion RE on S.Id = Re.SolicitudId
	inner join Parametro E on S.Estado = E.Codigo and E.CodigoGrupo = 3
	WHERE S.Id = @solicitudId
	order by 1
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitanteXEvaluar]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_SolicitanteXEvaluar]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_SolicitanteXEvaluar] AS' 
END
GO

-- =============================================
-- Author:		Yussel Ulloa Gómez
-- Create date: 21/07/2017
-- Description:	Listado de solicitantes
-- =============================================
-- DROP PROCEDURE [dbo].[USPS_SolicitanteXEvaluar]
ALTER PROCEDURE [dbo].[USPS_SolicitanteXEvaluar]	
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
AS
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SL.ID AS IdSolicitud,
		   S.ID AS IdSolicitante,  
		   S.Nombres,
		   S.ApellidoPaterno, 
		   S.ApellidoMaterno,
		   S.NumeroDocumento,
		   S.TipoDocumentoId,
		   TD.Nombre as TipoDocumento,
		   SL.NumSolicitud,
		   TDSexo.Nombre as Sexo,
		   S.TituloObtenido,
		   S.MontoIngresosMes,
		   S.MontoGastosMes,
		   S.Cargo,
		   S.FechaNacimiento
	FROM Solicitante S 
	INNER JOIN Solicitud SL on S.SolicitudId = SL.Id
	INNER JOIN Parametro TD on S.TipoDocumentoId = TD.Codigo and TD.CodigoGrupo = 5
	INNER JOIN Parametro TDSexo on S.SexoId = TDSexo.Codigo AND TDSexo.CodigoGrupo = 6
	WHERE S.FueAprobado  IS NULL
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH





GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitudXSolicitante]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_SolicitudXSolicitante]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_SolicitudXSolicitante] AS' 
END
GO

-- =============================================
-- Author:		Yussel Ulloa
-- Create date: 15/07/2017
-- Description:	lista las solicitudes por solicitante
-- =============================================
-- DROP PROCEDURE [dbo].[USPS_SolicitudXSolicitante]
ALTER PROCEDURE [dbo].[USPS_SolicitudXSolicitante]
	@solicitudId	int,
	@desc			varchar(100),
	@estado			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SET NOCOUNT ON;

	SELECT  SL.ID AS IdSolicitud,
			S.ID AS IdSolicitante, 
			SL.NumSolicitud,
			SL.FechaSolicitud,
			S.Nombres,
			S.ApellidoPaterno,
			S.ApellidoMaterno,
			S.Direccion,
			S.TipoDocumentoId,
			TD.Nombre as TipoDocumento,
			S.NumeroDocumento,
			SL.Estado as EstadoId,
			E.Nombre as Estado,
			S.Email
	FROM Solicitud SL
		INNER JOIN Solicitante S ON SL.Id = S.SolicitudId
		inner join Parametro E on SL.Estado = E.Codigo and E.CodigoGrupo = 3
		inner join Parametro TD on S.TipoDocumentoId = TD.Codigo and TD.CodigoGrupo = 5
	WHERE ((@solicitudId = -1 ) or (SL.Id = @solicitudId))
	AND ((@estado = -1 ) or (SL.Estado = @estado))
	AND ((@desc = '' ) or (SL.NumSolicitud like '%' + @desc + '%' or 
						  S.NumeroDocumento like '%' + @desc + '%' or 
						  S.Nombres like '%' + @desc + '%' or 
						  S.ApellidoPaterno like '%' + @desc + '%' or 
						  S.ApellidoMaterno like '%' + @desc + '%'))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_Usuario]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPS_Usuario]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPS_Usuario] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPS_Usuario]
ALTER PROCEDURE [dbo].[USPS_Usuario]
	@idUsuario		int,
	@nombres		varchar(100),
	@idPerfil		int,
	@estado			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	U.Id,
			U.PerfilId,
			P.Nombre as perfil, 
			U.CtaUsuario,
			U.Apellidos,
			U.Nombres,
			U.Cargo,
			U.Email,
			U.telefono,
			U.CambiarContrasenia,
			U.FechaVencimientoCta,
			U.FechaVencimiento,
			U.Estado
	FROM Usuario U
		INNER JOIN Perfil P ON U.PerfilId = P.Id
	WHERE ((@estado = -1) OR (U.Estado = @estado))
	AND ((@idUsuario = -1) OR (U.Id = @idUsuario))
	AND ((RTRIM(LTRIM(@nombres)) = '') OR ((U.Nombres + ' ' + U.Apellidos) LIKE '%' + @nombres + '%'))
	AND ((@idPerfil = -1) OR (U.PerfilId = @idPerfil))
	
	Set @coderr = 0
	Set @msgerr = 'OK'
	
END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPU_Solicitud]    Script Date: 23/07/2017 09:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USPU_Solicitud]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USPU_Solicitud] AS' 
END
GO

-- DROP PROCEDURE [dbo].[USPU_Solicitud]
ALTER PROCEDURE [dbo].[USPU_Solicitud]
	@solicitudId	int,
	@estado			int,
	@usuarioId		int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRAN [tu_solicitud]
BEGIN TRY

	UPDATE Solicitud
	SET Estado = @estado,
		AuditoriaUM = @usuarioId,
		AuditoriaFM = GETDATE()
	WHERE Id = @solicitudId
	
	COMMIT TRAN [tu_solicitud]

	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	ROLLBACK TRAN [tu_solicitud]
	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO


-- DROP PROCEDURE [dbo].[USPS_Solicitante]
CREATE PROCEDURE [dbo].[USPS_Solicitante]
	@solId			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT SL.ID AS IdSolicitud,
		   S.ID AS IdSolicitante,  
		   S.Nombres,
		   S.ApellidoPaterno, 
		   S.ApellidoMaterno,
		   S.NumeroDocumento,
		   S.TipoDocumentoId,
		   TD.Nombre as TipoDocumento,
		   SL.NumSolicitud,
		   TDSexo.Nombre as Sexo,
		   S.TituloObtenido,
		   S.MontoIngresosMes,
		   S.MontoGastosMes,
		   S.Cargo,
		   S.FechaNacimiento,
		   SL.MontoCapital
	FROM Solicitante S 
	INNER JOIN Solicitud SL on S.SolicitudId = SL.Id
	INNER JOIN Parametro TD on S.TipoDocumentoId = TD.Codigo and TD.CodigoGrupo = 5
	INNER JOIN Parametro TDSexo on S.SexoId = TDSexo.Codigo AND TDSexo.CodigoGrupo = 6
	WHERE S.id = @solId
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

go
CREATE TABLE dbo.PropuestaMedioPublicitario
	(
	idPropuestaMedio int NULL,
	costo numeric(10, 5) NULL,
	fecha date NULL,
	observación varchar(50) NULL
	)  ON [PRIMARY]
GO
CREATE TABLE dbo.MedioPublicitarioLocal
	(
	idMedioPublicitarioLocal int NULL,
	idMedioPublicitario int NULL,
	idLocal int NULL,
	porcentaje decimal(10, 5) NULL
	)  ON [PRIMARY]
GO

CREATE TABLE dbo.MedioPublicitario
	(
	idMedioPublicitario int NULL,
	nombreMedioPublicitario varchar(50) NULL
	)  ON [PRIMARY]
GO

CREATE TABLE dbo.ProductoLocal
	(
	idProductoLocal int NULL,
	idProducto int NULL,
	idLocal int NULL,
	numVentas int NULL,
	costoProducto decimal(10, 5) NULL
	)  ON [PRIMARY]
GO
CREATE TABLE dbo.Proyeccion
	(
	idProyeccion int NULL,
	idProdLocal int NULL,
	proyeccionIndice1 int NULL,
	proyeccionIndice2 int NULL,
	proyeccionIndice3 int NULL
	)  ON [PRIMARY]
GO
CREATE TABLE dbo.Local
	(
	idLocal int NULL,
	nombreLocal varchar(50) NULL,
	latitudLocal decimal(10, 5) NULL,
	longitudLocal decimal(10, 5) NULL
	)  ON [PRIMARY]
GO
CREATE TABLE dbo.IndicadorxProducto
	(
	idIndicadorXProducto int NULL,
	idIndicador int NULL,
	idProducto int NULL,
	puntuacion int NULL
	)  ON [PRIMARY]
GO
CREATE TABLE dbo.Producto
	(
	idProducto int NULL,
	idPlanMarketing int NULL,
	nombreProducto varchar(50) NULL
	)  ON [PRIMARY]
GO
CREATE TABLE dbo.Indicador
	(
	idIndicador int NULL,
	nombreIndicador varchar(50) NULL
	)  ON [PRIMARY]
GO