USE [PARDOSDB]
GO
ALTER TABLE [GFR].[tb_sugerencia] DROP CONSTRAINT [FK_tb_sugerencia_tb_local]
GO
ALTER TABLE [GFR].[tb_sugerencia] DROP CONSTRAINT [FK_tb_sugerencia_tb_empleado]
GO
ALTER TABLE [GFR].[tb_local] DROP CONSTRAINT [FK_tb_local_Usuario]
GO
ALTER TABLE [GFR].[tb_local] DROP CONSTRAINT [FK_tb_local_tb_franquicia]
GO
ALTER TABLE [GFR].[tb_local] DROP CONSTRAINT [FK_tb_local_Distrito]
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimientoDetalle] DROP CONSTRAINT [FK_tb_evaluacionProcedimientoDetalle_tb_procedimiento]
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimientoDetalle] DROP CONSTRAINT [FK_tb_evaluacionProcedimientoDetalle_tb_evaluacionProcedimiento]
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimiento] DROP CONSTRAINT [FK_tb_evaluacionProcedimiento_tb_local]
GO
ALTER TABLE [GFR].[tb_criteriosAceptacion] DROP CONSTRAINT [FK_tb_criteriosAceptacion_tb_procedimiento]
GO
ALTER TABLE [GAC].[tb_reclamo] DROP CONSTRAINT [FK_tb_reclamo_tb_local]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [dbo].[Solicitante] DROP CONSTRAINT [FK_Solicitante_Solicitud]
GO
ALTER TABLE [dbo].[ReporteEvaluacion] DROP CONSTRAINT [FK_ReporteEvaluacion_Solicitud]
GO
ALTER TABLE [dbo].[OpcionPerfil] DROP CONSTRAINT [FK_OpcionPerfil_Perfil]
GO
ALTER TABLE [dbo].[OpcionPerfil] DROP CONSTRAINT [FK_OpcionPerfil_Opcion]
GO
ALTER TABLE [dbo].[OpcionPerfil] DROP CONSTRAINT [FK_OpcionPerfil_Aplicacion]
GO
ALTER TABLE [dbo].[Opcion] DROP CONSTRAINT [FK_Opcion_Aplicacion]
GO
ALTER TABLE [dbo].[HistorialContrasenia] DROP CONSTRAINT [FK_HistorialContrasenia_Usuario]
GO
ALTER TABLE [dbo].[Entrevista] DROP CONSTRAINT [FK_Entrevista_Solicitud]
GO
/****** Object:  Table [GRH].[tb_empleado]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GRH].[tb_empleado]
GO
/****** Object:  Table [GFR].[tb_sugerencia_parametro]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_sugerencia_parametro]
GO
/****** Object:  Table [GFR].[tb_sugerencia]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_sugerencia]
GO
/****** Object:  Table [GFR].[tb_procedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_procedimiento]
GO
/****** Object:  Table [GFR].[tb_local]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_local]
GO
/****** Object:  Table [GFR].[tb_franquicia]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_franquicia]
GO
/****** Object:  Table [GFR].[tb_evaluacionProcedimientoDetalle]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_evaluacionProcedimientoDetalle]
GO
/****** Object:  Table [GFR].[tb_evaluacionProcedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_evaluacionProcedimiento]
GO
/****** Object:  Table [GFR].[tb_distrito]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_distrito]
GO
/****** Object:  Table [GFR].[tb_criteriosAceptacion]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GFR].[tb_criteriosAceptacion]
GO
/****** Object:  Table [GAC].[tb_reclamo]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [GAC].[tb_reclamo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Ubigeo]
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Solicitud]
GO
/****** Object:  Table [dbo].[Solicitante]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Solicitante]
GO
/****** Object:  Table [dbo].[ReporteEvaluacion]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[ReporteEvaluacion]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Perfil]
GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Parametro]
GO
/****** Object:  Table [dbo].[OpcionPerfil]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[OpcionPerfil]
GO
/****** Object:  Table [dbo].[Opcion]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Opcion]
GO
/****** Object:  Table [dbo].[HistorialContrasenia]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[HistorialContrasenia]
GO
/****** Object:  Table [dbo].[Entrevista]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Entrevista]
GO
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 22/09/2017 21:55:56 ******/
DROP TABLE [dbo].[Aplicacion]
GO
/****** Object:  UserDefinedFunction [GFR].[UFN_CalificarProcedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP FUNCTION [GFR].[UFN_CalificarProcedimiento]
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_ENCRIPT]    Script Date: 22/09/2017 21:55:56 ******/
DROP FUNCTION [dbo].[UFN_PASS_ENCRIPT]
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_DECRIPT]    Script Date: 22/09/2017 21:55:56 ******/
DROP FUNCTION [dbo].[UFN_PASS_DECRIPT]
GO
/****** Object:  StoredProcedure [GFR].[USPU_EstadoEvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPU_EstadoEvaluacionProcedimiento]
GO
/****** Object:  StoredProcedure [GFR].[USPU_ComentarioEvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPU_ComentarioEvaluacionProcedimiento]
GO
/****** Object:  StoredProcedure [GFR].[USPS_SugerenciaEvaluada]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPS_SugerenciaEvaluada]
GO
/****** Object:  StoredProcedure [GFR].[USPS_ReclamoEvaluado]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPS_ReclamoEvaluado]
GO
/****** Object:  StoredProcedure [GFR].[USPS_Procedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPS_Procedimiento]
GO
/****** Object:  StoredProcedure [GFR].[USPS_Franquicia]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPS_Franquicia]
GO
/****** Object:  StoredProcedure [GFR].[USPS_EvaluacionProcGrafico]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPS_EvaluacionProcGrafico]
GO
/****** Object:  StoredProcedure [GFR].[USPS_EvaluacionProcedimientoDet]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPS_EvaluacionProcedimientoDet]
GO
/****** Object:  StoredProcedure [GFR].[USPS_EvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPS_EvaluacionProcedimiento]
GO
/****** Object:  StoredProcedure [GFR].[USPI_EvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [GFR].[USPI_EvaluacionProcedimiento]
GO
/****** Object:  StoredProcedure [dbo].[USPU_Solicitud]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPU_Solicitud]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Usuario]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SugerenciasXDistritoLocal]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_SugerenciasXDistritoLocal]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitudXSolicitante]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_SolicitudXSolicitante]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitanteXEvaluar]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_SolicitanteXEvaluar]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Solicitante]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_Solicitante]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ResultadoEvaluacion]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_ResultadoEvaluacion]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Perfil]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_Perfil]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Parametro]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_Parametro]
GO
/****** Object:  StoredProcedure [dbo].[USPS_OpcionXPerfil]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_OpcionXPerfil]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Opcion]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_Opcion]
GO
/****** Object:  StoredProcedure [dbo].[USPS_Login]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPS_Login]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ResultadoEvaluacion]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPI_ResultadoEvaluacion]
GO
/****** Object:  StoredProcedure [dbo].[USPI_EvaluacionSolicitante]    Script Date: 22/09/2017 21:55:56 ******/
DROP PROCEDURE [dbo].[USPI_EvaluacionSolicitante]
GO
/****** Object:  Schema [GRH]    Script Date: 22/09/2017 21:55:56 ******/
DROP SCHEMA [GRH]
GO
/****** Object:  Schema [GFR]    Script Date: 22/09/2017 21:55:56 ******/
DROP SCHEMA [GFR]
GO
/****** Object:  Schema [GAC]    Script Date: 22/09/2017 21:55:56 ******/
DROP SCHEMA [GAC]
GO
USE [master]
GO
/****** Object:  Database [PARDOSDB]    Script Date: 22/09/2017 21:55:56 ******/
DROP DATABASE [PARDOSDB]
GO
/****** Object:  Database [PARDOSDB]    Script Date: 22/09/2017 21:55:56 ******/
CREATE DATABASE [PARDOSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PARDOSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PARDOSDB.mdf' , SIZE = 4352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PARDOSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PARDOSDB_1.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PARDOSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PARDOSDB]
GO
/****** Object:  Schema [GAC]    Script Date: 22/09/2017 21:55:57 ******/
CREATE SCHEMA [GAC]
GO
/****** Object:  Schema [GFR]    Script Date: 22/09/2017 21:55:57 ******/
CREATE SCHEMA [GFR]
GO
/****** Object:  Schema [GRH]    Script Date: 22/09/2017 21:55:57 ******/
CREATE SCHEMA [GRH]
GO
/****** Object:  StoredProcedure [dbo].[USPI_EvaluacionSolicitante]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_EvaluacionSolicitante]
	@IdSolicitante int,
	@FueAprobado bit
AS
BEGIN
	
	UPDATE Solicitante SET FueAprobado = @FueAprobado
	WHERE Id = @IdSolicitante

END


GO
/****** Object:  StoredProcedure [dbo].[USPI_ResultadoEvaluacion]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPI_ResultadoEvaluacion]
CREATE PROCEDURE [dbo].[USPI_ResultadoEvaluacion]
	@solicitudId	int,
	@resultado		varchar(250),
	@errores		varchar(400),
	@usuarioId		int,
	@idResultadoEva	int OUT,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRAN [ti_ResultadoE]
BEGIN TRY

	insert into ReporteEvaluacion(  SolicitudId, 
									FechaReporte, 
									ResultadoEjercicio, 
									ErroresEncontrados, 
									AuditoriaUC, 
									AuditoriaFC)
	Values (@solicitudId, GETDATE(),
		@resultado, @errores, @usuarioId, GETDATE());
	
	Select @idResultadoEva = SCOPE_IDENTITY();

	Set @coderr = 0
	Set @msgerr = 'OK'

	COMMIT TRAN [ti_ResultadoE]

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	ROLLBACK TRAN [ti_ResultadoE]
	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_Login]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************/
/********* Stores Procedures **********/
/**************************************/

-- DROP PROCEDURE [dbo].[USPS_Login]
CREATE PROCEDURE [dbo].[USPS_Login]
	@usuario		nvarchar(50),
	@clave			nvarchar(50),
	@idAplicativo	int,
	@userID			int OUT,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY
	Declare @cant int
	Declare @perfilID int

	if len(@usuario) = 0
	begin
		RAISERROR('Ingrese el valor del Usuario',16,1)
	end

	if len(@clave) = 0
	begin
		RAISERROR('Ingrese el valor de la clave',16,1)
	end

	SELECT @cant = count(U.Id)
	FROM Usuario u
	WHERE Upper(U.CtaUsuario) = UPPER(@usuario)
	AND u.Estado = 1

	if (@cant > 0)
	begin

		declare @pass as varchar(50)

		Select @pass = dbo.UFN_PASS_DECRIPT(u.contrasenia) 
		from Usuario u 
		where u.CtaUsuario = @usuario
		AND U.Estado = 1
		
		if (@pass COLLATE Latin1_General_CS_AS = @clave Collate Latin1_General_CS_AS) 
		Begin
			
			SELECT @userID = U.Id, @perfilID = U.PerfilId
			FROM Usuario u
			WHERE Upper(U.CtaUsuario) = UPPER(@usuario)

			if NOT EXISTS(SELECT 1 FROM OpcionPerfil A 
							WHERE A.AplicacionId = @idAplicativo
							AND A.PerfilId = @perfilID)
			begin
				RAISERROR('Usted no tiene permisos para acceder al aplicativo',16,1)
			end
			else
			begin
				set @coderr = 0
				set @msgerr = 'OK' 
			end
		end
		else
			RAISERROR('Usuario o clave incorrectos',16,1)
	end
	else
		RAISERROR('Usuario no registrado',16,1)
	
END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)	
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_Opcion]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPS_Opcion]
CREATE PROCEDURE [dbo].[USPS_Opcion]
	@idOpcion		int,
	@idapp			int,
	@estado			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	O.Id,
			O.AplicacionId,
			A.Descripcion as Aplicacion,
			O.Nombre,
			O.PadreId,
			O.Nivel,
			O.NivelPadre,
			O.Imagen,
			O.Controler,
			O.Accion,
			O.Orden,
			O.Observacion,
			O.Estado
	FROM Opcion O
		INNER JOIN Aplicacion A ON o.AplicacionId = A.Id
	WHERE ((@idOpcion = -1) OR (O.Id = @idOpcion)) 
	AND ((@idapp = -1) OR (O.AplicacionId = @idapp))
	AND ((@estado = -1) OR (O.Accion = @estado))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_OpcionXPerfil]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPS_OpcionXPerfil]
CREATE PROCEDURE [dbo].[USPS_OpcionXPerfil]
	@idapp			int,
	@idperfil		int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	OP.OpcionId,
			O.Nombre as Opcion,
			OP.AplicacionId,
			A.Descripcion as Aplicacion,
			OP.PerfilId,
			P.Nombre as Perfil,
			OP.Escritura
	FROM OpcionPerfil OP
		INNER JOIN Aplicacion A ON OP.AplicacionId = A.Id
		INNER JOIN Perfil P ON OP.PerfilId = P.Id
		INNER JOIN Opcion O ON OP.OpcionId= O.Id
	WHERE ((@idapp = -1) OR (OP.AplicacionId = @idapp))
	AND ((@idperfil = -1) OR (OP.PerfilId = @idperfil))
	order by O.orden
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_Parametro]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPS_Parametro]
CREATE PROCEDURE [dbo].[USPS_Parametro]
	@codigo			int,
	@idAgrupador	int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	IF (@codigo <> 0)
	BEGIN
		SELECT	p.Codigo, 
				p.Nombre,
				p.Valor,
				p.CodigoGrupo,
				p.Grupo,
				p.Descripcion,
				p.ValueText1,
				p.ValueText2,
				p.ValueText3
		FROM Parametro P
		WHERE p.Id = @CODIGO;
	END
	ELSE
	BEGIN
		SELECT	p.Codigo, 
				p.Nombre,
				p.Valor,
				p.CodigoGrupo,
				p.Grupo,
				p.Descripcion,
				p.ValueText1,
				p.ValueText2,
				p.ValueText3
		FROM Parametro P
		WHERE P.CodigoGrupo = @idAgrupador;
		
	END
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_Perfil]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPS_Perfil]
CREATE PROCEDURE [dbo].[USPS_Perfil]
	@idperfil		int,
	@idapp			int,
	@nombre			varchar(50),
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	P.Id,
			P.Nombre,
			P.Descripcion,
			p.AplicacionId,
			A.Descripcion as Aplicacion
	FROM Perfil P
		inner join Aplicacion A on P.AplicacionId = A.Id and A.Estado = 1
	WHERE ((@idperfil = -1) OR (P.Id = @idperfil))
	AND ((@idapp = -1) OR (P.AplicacionId = @idapp))
	AND ((@nombre = '') OR (UPPER(P.Nombre) like '%' + UPPER(@nombre) + '%'))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)

END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_ResultadoEvaluacion]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPS_ResultadoEvaluacion]
CREATE PROCEDURE [dbo].[USPS_ResultadoEvaluacion]
	@solicitudId	int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	RE.Id as ReporteEvalId,
			S.Id as SolicitudId,
			S.NumSolicitud,
			S.MontoCapital,
			S.FechaSolicitud,
			S.Estado as EstadoId,
			E.Nombre as Estado,
			SL.ApellidoMaterno,
			SL.ApellidoPaterno,
			SL.Nombres,
			RE.FechaReporte,
			RE.ResultadoEjercicio,
			RE.ErroresEncontrados
	FROM Solicitud S
	inner join Solicitante SL on S.id = SL.SolicitudId
	inner join ReporteEvaluacion RE on S.Id = Re.SolicitudId
	inner join Parametro E on S.Estado = E.Codigo and E.CodigoGrupo = 3
	WHERE S.Id = @solicitudId
	order by 1
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_Solicitante]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_Solicitante]
	@solId			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT SL.ID AS IdSolicitud,
		   S.ID AS IdSolicitante,  
		   S.Nombres,
		   S.ApellidoPaterno, 
		   S.ApellidoMaterno,
		   S.NumeroDocumento,
		   S.TipoDocumentoId,
		   TD.Nombre as TipoDocumento,
		   SL.NumSolicitud,
		   TDSexo.Nombre as Sexo,
		   S.TituloObtenido,
		   S.MontoIngresosMes,
		   S.MontoGastosMes,
		   S.Cargo,
		   S.FechaNacimiento,
		   SL.MontoCapital
	FROM Solicitante S 
	INNER JOIN Solicitud SL on S.SolicitudId = SL.Id
	INNER JOIN Parametro TD on S.TipoDocumentoId = TD.Codigo and TD.CodigoGrupo = 5
	INNER JOIN Parametro TDSexo on S.SexoId = TDSexo.Codigo AND TDSexo.CodigoGrupo = 6
	WHERE S.id = @solId
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitanteXEvaluar]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yussel Ulloa Gómez
-- Create date: 21/07/2017
-- Description:	Listado de solicitantes
-- =============================================
-- DROP PROCEDURE [dbo].[USPS_SolicitanteXEvaluar]
CREATE PROCEDURE [dbo].[USPS_SolicitanteXEvaluar]
	@desc			varchar(200),
	@estado			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
AS
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	SELECT SL.ID AS IdSolicitud,
		   S.ID AS IdSolicitante,  
		   S.Nombres,
		   S.ApellidoPaterno, 
		   S.ApellidoMaterno,
		   S.NumeroDocumento,
		   S.TipoDocumentoId,
		   TD.Nombre as TipoDocumento,
		   SL.NumSolicitud,
		   TDSexo.Nombre as Sexo,
		   S.TituloObtenido,
		   S.MontoIngresosMes,
		   S.MontoGastosMes,
		   S.Cargo,
		   S.FechaNacimiento,
		   SL.FechaSolicitud,
		   coalesce(S.FueAprobado, -2) as Estado
	FROM Solicitante S 
	INNER JOIN Solicitud SL on S.SolicitudId = SL.Id
	INNER JOIN Parametro TD on S.TipoDocumentoId = TD.Codigo and TD.CodigoGrupo = 5
	INNER JOIN Parametro TDSexo on S.SexoId = TDSexo.Codigo AND TDSexo.CodigoGrupo = 6
	WHERE ((@estado = -1) or (coalesce(S.FueAprobado, -2) = @estado))
	and ((@desc = '') or (UPPER(S.ApellidoPaterno + ' ' + S.ApellidoMaterno + ' ' + Nombres) like '%' + UPPER(@desc) + '%' or S.NumeroDocumento like '%' + @desc + '%'))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[USPS_SolicitudXSolicitante]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Yussel Ulloa
-- Create date: 15/07/2017
-- Description:	lista las solicitudes por solicitante
-- =============================================
-- DROP PROCEDURE [dbo].[USPS_SolicitudXSolicitante]
CREATE PROCEDURE [dbo].[USPS_SolicitudXSolicitante]
	@solicitudId	int,
	@desc			varchar(100),
	@estado			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SET NOCOUNT ON;

	SELECT  SL.ID AS IdSolicitud,
			S.ID AS IdSolicitante, 
			SL.NumSolicitud,
			SL.FechaSolicitud,
			S.Nombres,
			S.ApellidoPaterno,
			S.ApellidoMaterno,
			S.Direccion,
			S.TipoDocumentoId,
			TD.Nombre as TipoDocumento,
			S.NumeroDocumento,
			SL.Estado as EstadoId,
			E.Nombre as Estado,
			S.Email
	FROM Solicitud SL
		INNER JOIN Solicitante S ON SL.Id = S.SolicitudId
		inner join Parametro E on SL.Estado = E.Codigo and E.CodigoGrupo = 3
		inner join Parametro TD on S.TipoDocumentoId = TD.Codigo and TD.CodigoGrupo = 5
	WHERE ((@solicitudId = -1 ) or (SL.Id = @solicitudId))
	AND ((@estado = -1 ) or (SL.Estado = @estado))
	AND ((@desc = '' ) or (SL.NumSolicitud like '%' + @desc + '%' or 
						  S.NumeroDocumento like '%' + @desc + '%' or 
						  S.Nombres like '%' + @desc + '%' or 
						  S.ApellidoPaterno like '%' + @desc + '%' or 
						  S.ApellidoMaterno like '%' + @desc + '%'))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPS_SugerenciasXDistritoLocal]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USPS_SugerenciasXDistritoLocal]	
	@idDistrito		int,
	@idLocal		int,
	@fechaInicio	varchar(20),
	@fechaFin		varchar(20),
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
AS
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if @idDistrito = 0 and @idLocal = 0
	BEGIN
		-- Insert statements for procedure here
		SELECT S.Id as IdSugerencia,
			   S.Comentario,
			   S.FechaIngreso, 
			   S.Prioridad,
			   L.Nombre as NombreLocal,
			   L.Responsable
		FROM GFR.tb_Sugerencia S INNER JOIN GFR.tb_Local L ON S.LocalId = L.Id
		WHERE S.FechaIngreso between @fechaInicio AND @fechaFin
		Set @coderr = 0
		Set @msgerr = 'OK, solo fechas'
	END

	if @idDistrito = 0 and @idLocal <> 0
	BEGIN
		-- Insert statements for procedure here
		SELECT S.Id as IdSugerencia,
			   S.Comentario,
			   S.FechaIngreso, 
			   S.Prioridad,
			   L.Nombre as NombreLocal,
			   L.Responsable
		FROM GFR.tb_Sugerencia S INNER JOIN GFR.tb_Local L ON S.LocalId = L.Id
		WHERE L.Id = @idLocal AND S.FechaIngreso between @fechaInicio AND @fechaFin
		Set @coderr = 0
		Set @msgerr = 'OK, fechas y local'
	END

	if @idDistrito <> 0 and @idLocal = 0
	BEGIN
		-- Insert statements for procedure here
		SELECT S.Id as IdSugerencia,
			   S.Comentario,
			   S.FechaIngreso, 
			   S.Prioridad,
			   L.Nombre as NombreLocal,
			   L.Responsable
		FROM GFR.tb_Sugerencia S INNER JOIN GFR.tb_Local L ON S.LocalId = L.Id
		WHERE L.DistritoId = @idDistrito AND S.FechaIngreso between @fechaInicio AND @fechaFin
		Set @coderr = 0
		Set @msgerr = 'OK, fecha y distrito'
	END

	if @idDistrito <> 0 and @idLocal <> 0
	BEGIN
		-- Insert statements for procedure here
		SELECT S.Id as IdSugerencia,
			   S.Comentario,
			   S.FechaIngreso, 
			   S.Prioridad,
			   L.Nombre as NombreLocal,
			   L.Responsable
		FROM GFR.tb_Sugerencia S INNER JOIN GFR.tb_Local L ON S.LocalId = L.Id
		WHERE L.DistritoId = @idDistrito AND L.Id = @idLocal
			  AND S.FechaIngreso between @fechaInicio AND @fechaFin
		Set @coderr = 0
		Set @msgerr = 'OK, todo'
	END

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[USPS_Usuario]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPS_Usuario]
CREATE PROCEDURE [dbo].[USPS_Usuario]
	@idUsuario		int,
	@nombres		varchar(100),
	@idPerfil		int,
	@estado			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRY

	SELECT	U.Id,
			U.PerfilId,
			P.Nombre as perfil, 
			U.CtaUsuario,
			U.Apellidos,
			U.Nombres,
			U.Cargo,
			U.Email,
			U.telefono,
			U.CambiarContrasenia,
			U.FechaVencimientoCta,
			U.FechaVencimiento,
			U.Estado
	FROM Usuario U
		INNER JOIN Perfil P ON U.PerfilId = P.Id
	WHERE ((@estado = -1) OR (U.Estado = @estado))
	AND ((@idUsuario = -1) OR (U.Id = @idUsuario))
	AND ((RTRIM(LTRIM(@nombres)) = '') OR ((U.Nombres + ' ' + U.Apellidos) LIKE '%' + @nombres + '%'))
	AND ((@idPerfil = -1) OR (U.PerfilId = @idPerfil))
	
	Set @coderr = 0
	Set @msgerr = 'OK'
	
END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	--RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[USPU_Solicitud]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE [dbo].[USPU_Solicitud]
CREATE PROCEDURE [dbo].[USPU_Solicitud]
	@solicitudId	int,
	@estado			int,
	@usuarioId		int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT

AS
BEGIN TRAN [tu_solicitud]
BEGIN TRY

	UPDATE Solicitud
	SET Estado = @estado,
		AuditoriaUM = @usuarioId,
		AuditoriaFM = GETDATE()
	WHERE Id = @solicitudId
	
	COMMIT TRAN [tu_solicitud]

	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	ROLLBACK TRAN [tu_solicitud]
	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [GFR].[USPI_EvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPI_EvaluacionProcedimiento]
	@periodo		varchar(6),
	@localId		int,
	@procesoId		int,
	@usuarioId		int,
	@idEvalProc		int OUT,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
AS
BEGIN TRAN [ti_EvalProc]
BEGIN TRY

	declare @estado int = 1, @idEvalProcDet int
	declare @cntSugerencia int, @cntReclamos int, @calificacion numeric(5,2);
	declare @idProc int, @nombreProc varchar(100), @peso numeric(3,2)
	declare @valProce int, @valCriterios int, @valSugerencia int, @valReclamos int
	
	DECLARE curProcedimientos CURSOR LOCAL FOR 
	Select DISTINCT P.Id, P.Nombre, P.Peso
	FROM GFR.tb_procedimiento P
	WHERE P.Id in (
		Select S.ProcedimientoId as ProcID
		from GFR.tb_sugerencia S
			where SUBSTRING(CONVERT(varchar(10), S.fechaIngreso, 112),1,6) = @periodo
			and S.localId = @localId
			and ((@procesoId = -1) OR (S.ProcedimientoId = @procesoId))
		union
		Select R.ProcedimientoId as ProcID
		from GAC.tb_reclamo R
			where SUBSTRING(CONVERT(varchar(10), R.Fecha, 112),1,6) = @periodo
			and R.LocalId = @localId
			and ((@procesoId = -1) OR (R.ProcedimientoId = @procesoId))
	)

	Select @valSugerencia = COUNT(1) from GFR.tb_sugerencia S
	where SUBSTRING(CONVERT(varchar(10), S.fechaIngreso, 112),1,6) = @periodo
	and S.localId = @localId;
	
	Select @valReclamos = COUNT(1) from GAC.tb_reclamo R
	where SUBSTRING(CONVERT(varchar(10), R.Fecha, 112),1,6) = @periodo
	and R.LocalId = @localId
	
	if not (@valSugerencia > 0 or @valReclamos > 0)
		raiserror('No existen sugerencias o reclamos a evaluar',16,1);
	

	select @valProce = COUNT(1) from GFR.tb_procedimiento P 
	where P.Estado = 1
	and ((@procesoId = -1) OR (P.Id = @procesoId));

	if (@valProce = 0)
		raiserror('No existen procedimientos definidos a evaluar',16,1);
	
	select @valCriterios = COUNT(1)
	from GFR.tb_criteriosAceptacion CA
	where CA.Estado = 1
	and ((@procesoId = -1) Or (CA.ProcedimientoId = @procesoId));
	
	if (@valCriterios = 0)
		raiserror('No existen criterios de evaluacion definidos',16,1);

	INSERT INTO [GFR].[tb_evaluacionProcedimiento]
			   ([Periodo]
			   ,[LocalId]
			   ,[Estado]
			   ,[AuditoriaUC]
			   ,[AuditoriaFC])
		 VALUES
			   (@periodo
			   ,@localId
			   ,@estado
			   ,@usuarioId
			   ,GETDATE()
			  )
					
	Select @idEvalProc = SCOPE_IDENTITY();
	
	OPEN curProcedimientos
	FETCH NEXT FROM curProcedimientos into @idProc, @nombreProc, @peso
	
	While @@Fetch_Status = 0 
	Begin
	
			SET @cntSugerencia = (Select COUNT(1) from GFR.tb_sugerencia S
							where SUBSTRING(CONVERT(varchar(10), S.fechaIngreso, 112),1,6) = @periodo
							and S.localId = @localId
							and (S.ProcedimientoId = @idProc));
	
			SET @cntReclamos = (Select COUNT(1) from GAC.tb_reclamo R
							where SUBSTRING(CONVERT(varchar(10), R.Fecha, 112),1,6) = @periodo
							and R.LocalId = @localId
							and (R.ProcedimientoId = @idProc));
		
			
			SET @calificacion = [GFR].UFN_CalificarProcedimiento(@idProc, @peso, @cntSugerencia, @cntReclamos)

			INSERT INTO [GFR].[tb_evaluacionProcedimientoDetalle]
				   ([EvaluacionProcedimientoId]
				   ,[CantidadReclamo]
				   ,[CantidadSugerencia]
				   ,[Calificacion]
				   ,[ProcedimientoId]
				   ,[AuditoriaUC]
				   ,[AuditoriaFC])
			 VALUES
				   (@idEvalProc
				   ,@cntReclamos
				   ,@cntSugerencia
				   ,@calificacion
				   ,@idProc
				   ,@usuarioId
				   ,GETDATE());
				   
			 SELECT @idEvalProcDet= IDENT_CURRENT ('GFR.tb_evaluacionProcedimientoDetalle');
			 	 
			 UPdate GAC.tb_reclamo
			 Set EvaluacionProcDetalleId = @idEvalProcDet,
				 AuditoriaUM = @usuarioId,
				 AuditoriaFM = GETDATE()
			 Where CONVERT(VARCHAR(6), Fecha, 112) = @periodo
			 And LocalId = @localId
			 and procedimientoId = @idProc;
			 
			 UPdate GFR.tb_sugerencia
			 Set EvaluacionProcDetalleId = @idEvalProcDet,
				 AuditoriaUM = @usuarioId,
				 AuditoriaFM = GETDATE()
			 Where CONVERT(VARCHAR(6), fechaIngreso, 112) = @periodo
			 And localId = @localId
			 and procedimientoId = @idProc;
			
		
	Fetch Next From curProcedimientos Into @idProc, @nombreProc, @peso
	END
	CLOSE curProcedimientos;
	DEALLOCATE curProcedimientos;
	
	Set @coderr = 0
	Set @msgerr = 'OK'

	COMMIT TRAN [ti_EvalProc]
	
END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	Set @idEvalProc = 0
	set @coderr = 1
	set @msgerr = @mensajeError

	ROLLBACK TRAN [ti_EvalProc]
	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPS_EvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPS_EvaluacionProcedimiento]
	@id				int,
	@idFranquicia	int,
	@periodo		varchar(6),
	@condicion		int,
	@idUsuario		int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRY

	select  EP.Id,
			EP.Periodo,
			EP.LocalId,
			(F.Nombre + ' - ' + L.nombre) As Franquicia,
			L.responsable,
			U.Email,
			(Select count(1) 
				from GFR.tb_sugerencia S
				INNER JOIN GFR.tb_evaluacionProcedimientoDetalle EPD ON EPD.Id = S.EvaluacionProcDetalleId
				WHERE EPD.EvaluacionProcedimientoId = EP.Id) AS Nro_sugerencias,
			(Select COUNT(1)
			from GAC.tb_reclamo R
			INNER JOIN GFR.tb_evaluacionProcedimientoDetalle EPD ON EPD.Id = R.EvaluacionProcDetalleId
			WHERE EPD.EvaluacionProcedimientoId = EP.Id) AS Nro_reclamos,
			EP.Estado AS CondicionId,
			P.Nombre AS Condicion,
			CONVERT(VARCHAR(10), EP.AuditoriaFC,103) as FechaEvaluacion,
			EP.Comentario
	from GFR.tb_evaluacionProcedimiento EP
	INNER JOIN GFR.tb_local L ON EP.LocalId = L.id
	INNER JOIN GFR.tb_franquicia F ON L.franquiciaId = F.Id
	LEFT JOIN Usuario U ON L.UsuarioId = U.id
	LEFT JOIN Parametro P ON P.Codigo = EP.Estado AND P.CodigoGrupo = 10
	WHERE ((@periodo = '-1') OR (EP.Periodo = @periodo))
	AND ((@id = -1) OR (EP.Id = @id))
	AND ((@idFranquicia = -1) OR (L.id = @idFranquicia))
	AND ((@idUsuario = -1) OR (L.UsuarioId = @idUsuario))
	AND ((@condicion = -1) OR (EP.Estado = @condicion))
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPS_EvaluacionProcedimientoDet]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPS_EvaluacionProcedimientoDet]
	@idEP			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRY

	SELECT  EPD.Id,
			P.Nombre AS Procedimiento,
			p.Version,
			EPD.CantidadReclamo,
			EPD.CantidadSugerencia,
			EPD.Calificacion
	FROM GFR.tb_evaluacionProcedimientoDetalle EPD
		INNER JOIN GFR.tb_procedimiento P ON EPD.ProcedimientoId = P.Id
	WHERE EPD.EvaluacionProcedimientoId = @idEP

	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPS_EvaluacionProcGrafico]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPS_EvaluacionProcGrafico]
	@idEP			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRY

	declare @periodo as smalldatetime = GETDATE()
	declare @PeriodoInicio as smalldatetime
	declare @PeriodoFin as smalldatetime
	declare @localId int
	
	select @periodo = CONVERT(DATETIME,(EP.periodo + '01'),112),
		   @localId = EP.LocalId
	from GFR.tb_evaluacionProcedimiento EP
	where Ep.Id = @idEP;

	select @PeriodoInicio = DATEADD(yy, DATEDIFF(yy, 0, @periodo), 0)
	select @PeriodoFin = DATEADD(month, ((YEAR(@periodo) - 1900) * 12) + MONTH(@periodo), -1)

	;with Calendario as
	(
	  select Fecha = dateadd(month, 0, @PeriodoInicio)
	  where dateadd(month, 1, @PeriodoInicio) <= @PeriodoFin
	  union all
	  select dateadd(month, 1, Fecha)
	  from Calendario
	  where dateadd(month, 1, Fecha) <= @PeriodoFin
	), Sugerencias as (
		Select  CONVERT(VARCHAR(6), S.fechaIngreso, 112) As Periodo,
				COUNT(1) as CntSugerencias
		from GFR.tb_sugerencia S 
		Where S.localId = @localId
		group by S.fechaIngreso
	), Reclamos as (
		Select  CONVERT(VARCHAR(6), R.Fecha, 112) As Periodo,
				COUNT(1) as CntReclamos
		from GAC.tb_reclamo R 
		Where R.LocalId = @localId
		group by R.Fecha
	), Grafico as (
		Select  CONVERT(VARCHAR(6),C.Fecha,112) as Periodo,
				(Select SUM(CntSugerencias) from Sugerencias where Periodo = CONVERT(VARCHAR(6),C.Fecha,112)) as TotSugerencia,
				(Select SUM(CntReclamos) from Reclamos Where Periodo = CONVERT(VARCHAR(6),C.Fecha,112)) as TotReclamo
		from Calendario C
		group by CONVERT(VARCHAR(6),C.Fecha,112)
	) select G.Periodo,
			 ISNULL(G.TotSugerencia, 0) as TotSugerencia,
			 ISNULL(G.TotReclamo, 0) as TotReclamo
	  From Grafico G;
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPS_Franquicia]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPS_Franquicia]
	@idFranquicia	int,
	@nombre			varchar(250),
	@idUsuario		int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRY

	SELECT  FR.id AS FranquiciaId,
			FR.Nombre,
			FR.QuotaObjetivo,
			L.id as LocalId,
			L.nombre as NombreLocal,
			L.fechaApertura,
			L.responsable,
			(FR.Nombre + ' - ' + L.nombre) as FranquiLocal
	FROM GFR.tb_franquicia FR
		INNER JOIN GFR.tb_local L ON FR.Id = L.franquiciaId
	WHERE ((@idFranquicia = -1) OR (FR.Id = @idFranquicia))
	AND ((@nombre = '') OR (FR.Nombre like '%' + @nombre + '%'))
	AND ((@idUsuario = -1) OR (L.UsuarioId = @idUsuario))
	order by FR.Nombre ASC
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPS_Procedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPS_Procedimiento]
	@id				int,
	@nombre			varchar(250),
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRY

	SELECT  P.Id,
			P.Nombre,
			P.Version,
			P.Peso,
			P.Estado
	FROM GFR.tb_procedimiento P
	WHERE ((@id = -1) OR (P.Id = @id))
	AND ((@nombre = '') OR (P.Nombre like '%' + @nombre + '%'))
	order by p.Nombre ASC
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPS_ReclamoEvaluado]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPS_ReclamoEvaluado]
	@idEPD			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRY
	
	Select  R.Id, 
			R.Descripcion, 
			R.fecha,
			R.procedimientoId,
			P.Nombre as Procedimiento
	from GAC.tb_reclamo R 
		INNER JOIN GFR.tb_procedimiento P On R.ProcedimientoId = P.Id
	Where R.EvaluacionProcDetalleId = @idEPD
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPS_SugerenciaEvaluada]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPS_SugerenciaEvaluada]
	@idEPD			int,
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRY
	
	Select  S.id, 
			S.descripcion, 
			s.fechaIngreso as fecha,
			S.procedimientoId,
			P.Nombre as Procedimiento,
			(e.ApePaterno + ' ' + E.ApeMaterno + ' ,' + E.Nombres) AS Empleado
	from GFR.tb_sugerencia S 
		INNER JOIN GFR.tb_procedimiento P On S.ProcedimientoId = P.Id
		INNER JOIN GRH.tb_empleado E ON S.empleadoId = e.Id
	Where S.EvaluacionProcDetalleId = @idEPD and S.estado=1
	
	Set @coderr = 0
	Set @msgerr = 'OK'

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError

	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH


GO
/****** Object:  StoredProcedure [GFR].[USPU_ComentarioEvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPU_ComentarioEvaluacionProcedimiento]
	@idEvaProc		int,
	@usuarioId		int,
	@comentario		varchar(250),
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRAN [tu_evalPro]
BEGIN TRY

	UPDATE GFR.tb_evaluacionProcedimiento
	Set Comentario = UPPER(@comentario),
		AuditoriaUM = @usuarioId,
		AuditoriaFM = GETDATE()
	Where Id = @idEvaProc

	Set @coderr = 0;
	Set @msgerr = 'OK';

	COMMIT TRAN [tu_evalPro]

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError
	
	ROLLBACK TRAN [tu_evalPro]
	
	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  StoredProcedure [GFR].[USPU_EstadoEvaluacionProcedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GFR].[USPU_EstadoEvaluacionProcedimiento]
	@idEvaProc		int,
	@usuarioId		int,
	@estado			int,	
	@coderr			int OUT,
	@msgerr			varchar(1000) OUT
--WITH ENCRYPTION
AS
BEGIN TRAN [tu_evalPro]
BEGIN TRY

	UPDATE GFR.tb_evaluacionProcedimiento
	Set estado = @estado,
		AuditoriaUM = @usuarioId,
		AuditoriaFM = GETDATE()
	Where Id = @idEvaProc

	Set @coderr = 0;
	Set @msgerr = 'OK';

	COMMIT TRAN [tu_evalPro]

END TRY
BEGIN CATCH
	DECLARE @mensajeError as varchar(4000)
	DECLARE @codSeveridad as int
	DECLARE @codStatus as int

	Select @mensajeError = ERROR_MESSAGE(),
		   @codSeveridad = ERROR_SEVERITY(),
		   @codStatus = ERROR_STATE()
	
	set @coderr = 1
	set @msgerr = @mensajeError
	
	ROLLBACK TRAN [tu_evalPro]
	
	-- RAISERROR(@mensajeError, @codSeveridad, @codStatus)
END CATCH

GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_DECRIPT]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************/
/************ Funciones  **************/
/**************************************/

-- DROP FUNCTION UFN_PASS_DECRIPT
CREATE FUNCTION [dbo].[UFN_PASS_DECRIPT](@PASS VARBINARY(8000)) RETURNS VARCHAR(50) 
--
BEGIN
	
	DECLARE @D_PASS AS VARCHAR(50)

	SET @D_PASS = DECRYPTBYPASSPHRASE('Encript0110', @PASS)

	RETURN @D_PASS

END


GO
/****** Object:  UserDefinedFunction [dbo].[UFN_PASS_ENCRIPT]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DROP FUNCTION UFN_PASS_ENCRIPT
CREATE FUNCTION [dbo].[UFN_PASS_ENCRIPT](@PASS VARCHAR(50)) RETURNS VARBINARY(8000) 
--
BEGIN
	
	DECLARE @D_PASS AS  VARBINARY(8000)

	SET @D_PASS = ENCRYPTBYPASSPHRASE('Encript0110', @PASS)

	RETURN @D_PASS

END


GO
/****** Object:  UserDefinedFunction [GFR].[UFN_CalificarProcedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [GFR].[UFN_CalificarProcedimiento](
	@ProcedimientoId	INT,
	@peso				numeric(3,2),
	@CantSugerencia		INT,
	@CantReclamo		INT
) RETURNS NUMERIC(5,2)
--WITH ENCRYPTION
BEGIN
	
	DECLARE @N_Calificacion NUMERIC(5,2), @codTipo int;
	Declare @vMin NUMERIC(7,2), @vMax NUMERIC(7,2);
	Declare @resultado int, @notaFinal int = 0;
	Declare @maximoPermitido int = 15;
	Declare @minimoPermitido int = 1;

	DECLARE curCriterio CURSOR LOCAL FOR
	Select CA.CodTipo, CA.ValorMinimo, CA.ValorMaximo
	from GFR.tb_criteriosAceptacion CA
	where CA.ProcedimientoId = @ProcedimientoId
	and CA.Estado = 1
	
	OPEN curCriterio
	FETCH NEXT FROM curCriterio into @codTipo, @vMin, @vMax
	
	While @@Fetch_Status = 0
	Begin
		IF (@codTipo = 2)
		begin
			--Evalua Reclamos
			if (@CantReclamo = 0)
				set @resultado = 0
			else if (@CantReclamo < @vMin)
				set @resultado = 1
 			else if (@CantReclamo >= @vMin and @CantReclamo <= @vMax)
				set @resultado = 3
			else if (@CantReclamo > @vMax and  @CantReclamo <= @maximoPermitido)
				Set @resultado = 4
			else if (@CantReclamo > @maximoPermitido)
				Set @resultado = 5
		end
		else if (@codTipo = 1)
		begin
			--Evaluar Sugerencias
			if (@CantSugerencia = 0)
				set @resultado = 0
			else if (@CantSugerencia > @vMax)
				set @resultado = 1
			else if (@CantSugerencia >= @vMin and @CantSugerencia <= @vMax)
				set @resultado = 3
			else if (@CantSugerencia >= @minimoPermitido and @CantSugerencia < @vMin)
				Set @resultado = 4
			else if (@CantSugerencia < @minimoPermitido)
				Set @resultado = 5
		end
		
		Set @notaFinal += @resultado;
		
	Fetch Next From curCriterio Into @codTipo, @vMin, @vMax
	END
	CLOSE curCriterio;
	DEALLOCATE curCriterio;
	
	set @N_Calificacion = @peso * @notaFinal;
	
	RETURN @N_Calificacion
END

GO
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aplicacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoAplicacion] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Estado] [int] NULL,
 CONSTRAINT [PK_Aplicacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Entrevista]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entrevista](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[FechaEntrevisa] [varchar](10) NULL,
	[HoraEntrevisa] [varchar](5) NULL,
	[EntrevistadorId] [int] NOT NULL,
	[LugarId] [int] NOT NULL,
	[Observacion] [varchar](250) NULL,
	[Estado] [int] NOT NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Entrevista] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HistorialContrasenia]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HistorialContrasenia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ContraseniaAnt] [varchar](100) NOT NULL,
	[ContraseniaAct] [varchar](100) NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_HistorialContrasenia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Opcion]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Opcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AplicacionId] [int] NOT NULL,
	[PadreId] [int] NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Nivel] [int] NULL,
	[NivelPadre] [int] NULL,
	[Imagen] [varchar](50) NULL,
	[Controler] [varchar](50) NULL,
	[Accion] [varchar](50) NULL,
	[Orden] [int] NULL,
	[Observacion] [varchar](50) NULL,
	[Estado] [tinyint] NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OpcionPerfil]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcionPerfil](
	[AplicacionId] [int] NOT NULL,
	[PerfilId] [int] NOT NULL,
	[OpcionId] [int] NOT NULL,
	[Escritura] [bit] NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parametro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoGrupo] [int] NOT NULL,
	[Grupo] [varchar](50) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Valor] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
	[ValueText1] [varchar](255) NULL,
	[ValueText2] [varchar](255) NULL,
	[ValueText3] [varchar](255) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Parametro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Perfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AplicacionId] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReporteEvaluacion]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReporteEvaluacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[FechaReporte] [datetime] NULL,
	[ResultadoEjercicio] [varchar](250) NULL,
	[ErroresEncontrados] [varchar](400) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_ReporteEvaluacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Solicitante]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Solicitante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoSolicitanteId] [int] NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[Nombres] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[RazonSocial] [varchar](250) NULL,
	[TipoDocumentoId] [int] NULL,
	[NumeroDocumento] [varchar](15) NULL,
	[SexoId] [int] NULL,
	[EstadoCivilId] [int] NULL,
	[FechaIniCargoAct] [datetime] NULL,
	[FechaFinCargoAct] [datetime] NULL,
	[NombreJefeDirecto] [varchar](250) NULL,
	[TelefonoJefeDirecto] [varchar](15) NULL,
	[FechaConstitucion] [datetime] NULL,
	[ActividadEconomica] [varchar](250) NULL,
	[NumeroEmpleados] [int] NULL,
	[MontoIngresosAnuales] [decimal](18, 2) NULL,
	[UbigeoDireccion] [varchar](6) NULL,
	[Direccion] [varchar](250) NULL,
	[Email] [varchar](50) NULL,
	[Telefono] [varchar](15) NULL,
	[InstitucionEducativa] [varchar](100) NULL,
	[TituloObtenido] [varchar](50) NULL,
	[DuracionEstudios] [int] NULL,
	[Idiomas] [varchar](50) NULL,
	[Empresa] [varchar](100) NULL,
	[Cargo] [varchar](100) NULL,
	[MontoIngresosMes] [decimal](18, 2) NULL,
	[MontoGastosMes] [decimal](18, 2) NULL,
	[Observacion] [varchar](250) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
	[FechaNacimiento] [smalldatetime] NULL,
	[FueAprobado] [bit] NULL,
 CONSTRAINT [PK_Solicitante] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Solicitud](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumSolicitud] [varchar](15) NULL,
	[FechaSolicitud] [datetime] NULL,
	[CiudadInteres] [varchar](50) NULL,
	[UbigeoCiudadInteres] [varchar](6) NULL,
	[MontoCapital] [decimal](18, 2) NULL,
	[FuenteFinanciamiento] [varchar](50) NULL,
	[FechaInicioOperacion] [datetime] NULL,
	[LocalDisponible] [int] NULL,
	[CondicionLocalId] [int] NULL,
	[UbigeoLocal] [varchar](6) NULL,
	[DireccionLocal] [varchar](250) NULL,
	[TipoUbicacionLocalId] [int] NULL,
	[ReferenciaComercial] [varchar](500) NULL,
	[ReferenciaBancaria] [varchar](500) NULL,
	[Estado] [int] NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Solicitud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[Id] [char](6) NOT NULL,
	[DepartamentoId] [char](2) NULL,
	[ProvinciaId] [char](2) NULL,
	[DistritoId] [char](2) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Ubigeo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PerfilId] [int] NOT NULL,
	[CtaUsuario] [varchar](25) NOT NULL,
	[Contrasenia] [varbinary](8000) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Cargo] [varchar](48) NULL,
	[Email] [varchar](255) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [tinyint] NOT NULL,
	[CambiarContrasenia] [bit] NULL,
	[FechaVencimientoCta] [datetime] NULL,
	[FechaVencimiento] [datetime] NULL,
	[AuditoriaUC] [int] NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GAC].[tb_reclamo]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [GAC].[tb_reclamo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Fecha] [datetime] NULL,
	[LocalId] [int] NOT NULL,
	[EvaluacionProcDetalleId] [int] NULL,
	[Estado] [int] NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
	[procedimientoId] [int] NOT NULL,
 CONSTRAINT [PK_Reclamo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_criteriosAceptacion]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [GFR].[tb_criteriosAceptacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcedimientoId] [int] NOT NULL,
	[Objetivo] [varchar](250) NULL,
	[CodTipo] [int] NULL,
	[ValorMinimo] [numeric](7, 2) NULL,
	[ValorMaximo] [numeric](7, 2) NULL,
	[Estado] [int] NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_CriteriosAceptacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_distrito]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GFR].[tb_distrito](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_evaluacionProcedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [GFR].[tb_evaluacionProcedimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Periodo] [varchar](6) NULL,
	[LocalId] [int] NULL,
	[Comentario] [varchar](250) NULL,
	[Estado] [int] NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_EvaluacionProcedimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_evaluacionProcedimientoDetalle]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GFR].[tb_evaluacionProcedimientoDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluacionProcedimientoId] [int] NULL,
	[CantidadReclamo] [int] NULL,
	[CantidadSugerencia] [int] NULL,
	[Calificacion] [numeric](5, 2) NULL,
	[ProcedimientoId] [int] NOT NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_EvaluacionProcedimientoDetalle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [GFR].[tb_franquicia]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GFR].[tb_franquicia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[QuotaObjetivo] [numeric](18, 2) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Franquicia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_local]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GFR].[tb_local](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[franquiciaId] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechaApertura] [datetime] NOT NULL,
	[localId] [int] NOT NULL,
	[responsable] [varchar](50) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[distritoId] [int] NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[latitud] [varchar](50) NOT NULL,
	[longitud] [varchar](50) NOT NULL,
	[auditoriaUC] [int] NOT NULL,
	[auditoriaUM] [int] NULL,
	[auditoriaFC] [datetime] NOT NULL,
	[auditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Local] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_procedimiento]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GFR].[tb_procedimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Version] [varchar](10) NULL,
	[Peso] [numeric](3, 2) NULL,
	[Estado] [int] NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Procedimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_sugerencia]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [GFR].[tb_sugerencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](1000) NOT NULL,
	[fechaIngreso] [datetime] NOT NULL,
	[prioridad] [varchar](50) NOT NULL,
	[comentario] [varchar](1000) NOT NULL,
	[localId] [int] NOT NULL,
	[empleadoId] [int] NOT NULL,
	[evaluacionProcDetalleId] [int] NULL,
	[procedimientoId] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[auditoriaUC] [int] NOT NULL,
	[auditoriaUM] [int] NULL,
	[auditoriaFC] [datetime] NOT NULL,
	[auditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Sugerencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GFR].[tb_sugerencia_parametro]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [GFR].[tb_sugerencia_parametro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[nivel_prioridad] [varchar](5) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GRH].[tb_empleado]    Script Date: 22/09/2017 21:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [GRH].[tb_empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NULL,
	[ApePaterno] [varchar](50) NULL,
	[ApeMaterno] [varchar](50) NULL,
	[AuditoriaUC] [int] NOT NULL,
	[AuditoriaUM] [int] NULL,
	[AuditoriaFC] [datetime] NOT NULL,
	[AuditoriaFM] [datetime] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Aplicacion] ON 

GO
INSERT [dbo].[Aplicacion] ([Id], [CodTipoAplicacion], [Descripcion], [Estado]) VALUES (1, 1, N'Sistema de Gestion de Franquicias', 1)
GO
SET IDENTITY_INSERT [dbo].[Aplicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Opcion] ON 

GO
INSERT [dbo].[Opcion] ([Id], [AplicacionId], [PadreId], [Nombre], [Nivel], [NivelPadre], [Imagen], [Controler], [Accion], [Orden], [Observacion], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, NULL, N'Franquicia', 1, 0, N'fa-arrows-v', NULL, NULL, 1, NULL, 1, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[Opcion] ([Id], [AplicacionId], [PadreId], [Nombre], [Nivel], [NivelPadre], [Imagen], [Controler], [Accion], [Orden], [Observacion], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 1, 1, N'Registro de solicitud', 2, 1, N'fa-file-archive-o', N'Home', N'Index', 1, NULL, 1, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[Opcion] ([Id], [AplicacionId], [PadreId], [Nombre], [Nivel], [NivelPadre], [Imagen], [Controler], [Accion], [Orden], [Observacion], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, 1, 1, N'Explorador de solicitudes de franquicia pendientes', 2, 1, N'fa-clock-o', N'Solicitud', N'Index', 2, NULL, 1, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Opcion] OFF
GO
INSERT [dbo].[OpcionPerfil] ([AplicacionId], [PerfilId], [OpcionId], [Escritura], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, 1, 1, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[OpcionPerfil] ([AplicacionId], [PerfilId], [OpcionId], [Escritura], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, 2, 1, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[OpcionPerfil] ([AplicacionId], [PerfilId], [OpcionId], [Escritura], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, 3, 1, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Parametro] ON 

GO
INSERT [dbo].[Parametro] ([Id], [CodigoGrupo], [Grupo], [Codigo], [Nombre], [Valor], [Descripcion], [ValueText1], [ValueText2], [ValueText3], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, N'CONDICION_LOCAL', 1, N'PROPIO', NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[Parametro] ([Id], [CodigoGrupo], [Grupo], [Codigo], [Nombre], [Valor], [Descripcion], [ValueText1], [ValueText2], [ValueText3], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 1, N'CONDICION_LOCAL', 2, N'ALQUILADO', NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[Parametro] ([Id], [CodigoGrupo], [Grupo], [Codigo], [Nombre], [Valor], [Descripcion], [ValueText1], [ValueText2], [ValueText3], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, 2, N'UBICACION_LOCAL', 1, N'CALLE CÉNTRICA', NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Parametro] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

GO
INSERT [dbo].[Perfil] ([Id], [AplicacionId], [Nombre], [Descripcion], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, N'ADMIN', N'USUARIO ADMINISTRADOR A TODO EL SISTEMA', 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[Perfil] ([Id], [AplicacionId], [Nombre], [Descripcion], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 1, N'FRANQUICIADO', N'USUARIO ENCARGADO DE LA FRANQUICIA', 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [dbo].[Perfil] ([Id], [AplicacionId], [Nombre], [Descripcion], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, 2, N'MOVIL', N'USUARIO CON ACCESO SOLO AL EQUIPO MOVIL PARA RECOPILAR DATOS', 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitante] ON 

GO
SET IDENTITY_INSERT [dbo].[Solicitante] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitud] ON 

GO
SET IDENTITY_INSERT [dbo].[Solicitud] OFF
GO
INSERT [dbo].[Ubigeo] ([Id], [DepartamentoId], [ProvinciaId], [DistritoId], [Nombre], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (N'010000', N'01', N'00', N'00', N'AMAZONAS', 1, 1, NULL, CAST(0x0000A6C30006F42D AS DateTime), NULL)
GO
INSERT [dbo].[Ubigeo] ([Id], [DepartamentoId], [ProvinciaId], [DistritoId], [Nombre], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (N'010100', N'01', N'01', N'00', N'CHACHAPOYAS', 1, 1, NULL, CAST(0x0000A6C30006F42D AS DateTime), NULL)
GO
INSERT [dbo].[Ubigeo] ([Id], [DepartamentoId], [ProvinciaId], [DistritoId], [Nombre], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (N'010101', N'01', N'01', N'01', N'CHACHAPOYAS', 1, 1, NULL, CAST(0x0000A6C30006F42D AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

GO
INSERT [dbo].[Usuario] ([Id], [PerfilId], [CtaUsuario], [Contrasenia], [Nombres], [Apellidos], [Cargo], [Email], [Telefono], [Estado], [CambiarContrasenia], [FechaVencimientoCta], [FechaVencimiento], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, N'ADMIN', 0x0100000085D893381EAA022EC83C7363DEF9AF73E3BDE2A6F6BA10A3, N'CASTILLO', N'CARLOS', N'ADNUB', N'u201323409@upc.edu.pe', N'987654321', 1, 0, NULL, NULL, 1, NULL, CAST(0x0000A6C3001082FA AS DateTime), NULL)
GO
INSERT [dbo].[Usuario] ([Id], [PerfilId], [CtaUsuario], [Contrasenia], [Nombres], [Apellidos], [Cargo], [Email], [Telefono], [Estado], [CambiarContrasenia], [FechaVencimientoCta], [FechaVencimiento], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 2, N'CCASTILLO', 0x010000007869F0A91080CAB64D59A71D0B7DA1AB44F3B949E2F00D5C, N'ZALESKY', N'PEREZ', N'SYER', N'Carlosdevelop@gmail.com', N'876954321', 1, 0, NULL, NULL, 1, NULL, CAST(0x0000A6C30010ED60 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [GAC].[tb_reclamo] ON 

GO
INSERT [GAC].[tb_reclamo] ([Id], [Descripcion], [Fecha], [LocalId], [EvaluacionProcDetalleId], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM], [procedimientoId]) VALUES (1, N'POLLO CRUDO', CAST(0x0000A70000000000 AS DateTime), 1, NULL, 1, 1, 1, CAST(0x0000A7D4001082FA AS DateTime), CAST(0x0000A7E0002BDA9F AS DateTime), 1)
GO
INSERT [GAC].[tb_reclamo] ([Id], [Descripcion], [Fecha], [LocalId], [EvaluacionProcDetalleId], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM], [procedimientoId]) VALUES (2, N'LIMONADA MUY DULCE', CAST(0x0000A70000000000 AS DateTime), 1, NULL, 1, 1, 1, CAST(0x0000A7D4001082FA AS DateTime), CAST(0x0000A7E0002BDA9F AS DateTime), 1)
GO
INSERT [GAC].[tb_reclamo] ([Id], [Descripcion], [Fecha], [LocalId], [EvaluacionProcDetalleId], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM], [procedimientoId]) VALUES (3, N'EL MOZO NO NOS ATENDIO POR MAS DE 20 MINUTOS', CAST(0x0000A70000000000 AS DateTime), 1, NULL, 1, 1, 1, CAST(0x0000A7D4001082FA AS DateTime), CAST(0x0000A7E0002BDA9F AS DateTime), 2)
GO
SET IDENTITY_INSERT [GAC].[tb_reclamo] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_criteriosAceptacion] ON 

GO
INSERT [GFR].[tb_criteriosAceptacion] ([Id], [ProcedimientoId], [Objetivo], [CodTipo], [ValorMinimo], [ValorMaximo], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, 1, N'Descripcion Pendiente', 1, CAST(2.00 AS Numeric(7, 2)), CAST(4.00 AS Numeric(7, 2)), 1, 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_criteriosAceptacion] ([Id], [ProcedimientoId], [Objetivo], [CodTipo], [ValorMinimo], [ValorMaximo], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, 1, N'No superar 8 platos y bebidas rechazados por el cliente', 2, CAST(4.00 AS Numeric(7, 2)), CAST(8.00 AS Numeric(7, 2)), 1, 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_criteriosAceptacion] ([Id], [ProcedimientoId], [Objetivo], [CodTipo], [ValorMinimo], [ValorMaximo], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, 2, N'Descripcion Pendiente', 1, CAST(2.00 AS Numeric(7, 2)), CAST(4.00 AS Numeric(7, 2)), 1, 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
SET IDENTITY_INSERT [GFR].[tb_criteriosAceptacion] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_distrito] ON 

GO
INSERT [GFR].[tb_distrito] ([Id], [Nombre], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, N'San Borja', 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [GFR].[tb_distrito] ([Id], [Nombre], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, N'San Juan de Lurigancho', 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
INSERT [GFR].[tb_distrito] ([Id], [Nombre], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, N'Miraflores', 1, NULL, CAST(0x0000A6C200000000 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [GFR].[tb_distrito] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_evaluacionProcedimiento] ON 

GO
INSERT [GFR].[tb_evaluacionProcedimiento] ([Id], [Periodo], [LocalId], [Comentario], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, N'201708', 1, NULL, 1, 1, NULL, CAST(0x0000A7E8015360E1 AS DateTime), NULL)
GO
INSERT [GFR].[tb_evaluacionProcedimiento] ([Id], [Periodo], [LocalId], [Comentario], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, N'201708', 1, N'EVALUACION EXITOSA', 2, 1, 1, CAST(0x0000A7E8015CDF09 AS DateTime), CAST(0x0000A7E8015D6575 AS DateTime))
GO
SET IDENTITY_INSERT [GFR].[tb_evaluacionProcedimiento] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_evaluacionProcedimientoDetalle] ON 

GO
INSERT [GFR].[tb_evaluacionProcedimientoDetalle] ([Id], [EvaluacionProcedimientoId], [CantidadReclamo], [CantidadSugerencia], [Calificacion], [ProcedimientoId], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (6, 2, 5, 2, CAST(1.14 AS Numeric(5, 2)), 1, 1, NULL, CAST(0x0000A7E80153610A AS DateTime), NULL)
GO
INSERT [GFR].[tb_evaluacionProcedimientoDetalle] ([Id], [EvaluacionProcedimientoId], [CantidadReclamo], [CantidadSugerencia], [Calificacion], [ProcedimientoId], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (7, 2, 4, 2, CAST(0.76 AS Numeric(5, 2)), 2, 1, NULL, CAST(0x0000A7E80153610A AS DateTime), NULL)
GO
INSERT [GFR].[tb_evaluacionProcedimientoDetalle] ([Id], [EvaluacionProcedimientoId], [CantidadReclamo], [CantidadSugerencia], [Calificacion], [ProcedimientoId], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (8, 2, 0, 2, CAST(0.33 AS Numeric(5, 2)), 3, 1, NULL, CAST(0x0000A7E80153610A AS DateTime), NULL)
GO
SET IDENTITY_INSERT [GFR].[tb_evaluacionProcedimientoDetalle] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_franquicia] ON 

GO
INSERT [GFR].[tb_franquicia] ([Id], [Nombre], [QuotaObjetivo], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, N'Farfan Restaurants', CAST(1.00 AS Numeric(18, 2)), 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_franquicia] ([Id], [Nombre], [QuotaObjetivo], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, N'UPC Restaurants', CAST(1.00 AS Numeric(18, 2)), 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_franquicia] ([Id], [Nombre], [QuotaObjetivo], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, N'Morales Restaurants', CAST(1.00 AS Numeric(18, 2)), 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
SET IDENTITY_INSERT [GFR].[tb_franquicia] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_local] ON 

GO
INSERT [GFR].[tb_local] ([id], [franquiciaId], [nombre], [fechaApertura], [localId], [responsable], [usuarioId], [distritoId], [direccion], [latitud], [longitud], [auditoriaUC], [auditoriaUM], [auditoriaFC], [auditoriaFM]) VALUES (1, 1, N'Pardos Chicken - La Marina', CAST(0x0000A7D4001082FA AS DateTime), 1, N'Mario Perez', 2, 1, N'Av. La marina 1020', N'-77.256314', N'-12.256314', 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_local] ([id], [franquiciaId], [nombre], [fechaApertura], [localId], [responsable], [usuarioId], [distritoId], [direccion], [latitud], [longitud], [auditoriaUC], [auditoriaUM], [auditoriaFC], [auditoriaFM]) VALUES (2, 1, N'Pardos Chicken - Surquillo', CAST(0x0000A7D4001082FA AS DateTime), 1, N'Mario Perez', 2, 1, N'Av. La marina 1020', N'-77.256314', N'-12.256314', 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_local] ([id], [franquiciaId], [nombre], [fechaApertura], [localId], [responsable], [usuarioId], [distritoId], [direccion], [latitud], [longitud], [auditoriaUC], [auditoriaUM], [auditoriaFC], [auditoriaFM]) VALUES (3, 2, N'Pardos Chicken - Centro Civico', CAST(0x0000A7D4001082FA AS DateTime), 1, N'Mario Perez', 1, 1, N'Av. La marina 1020', N'-77.256314', N'-12.256314', 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
SET IDENTITY_INSERT [GFR].[tb_local] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_procedimiento] ON 

GO
INSERT [GFR].[tb_procedimiento] ([Id], [Nombre], [Version], [Peso], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, N'Procedimientos de preparación de alimentos y bebidas', N'2.3', CAST(0.19 AS Numeric(3, 2)), 1, 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_procedimiento] ([Id], [Nombre], [Version], [Peso], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (2, N'Procedimientos de atención del cliente', N'10.5', CAST(0.19 AS Numeric(3, 2)), 1, 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
INSERT [GFR].[tb_procedimiento] ([Id], [Nombre], [Version], [Peso], [Estado], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (3, N'Procedimientos de compras', N'3.5', CAST(0.11 AS Numeric(3, 2)), 1, 1, NULL, CAST(0x0000A7D4001082FA AS DateTime), NULL)
GO
SET IDENTITY_INSERT [GFR].[tb_procedimiento] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_sugerencia] ON 

GO
INSERT [GFR].[tb_sugerencia] ([id], [descripcion], [fechaIngreso], [prioridad], [comentario], [localId], [empleadoId], [evaluacionProcDetalleId], [procedimientoId], [estado], [auditoriaUC], [auditoriaUM], [auditoriaFC], [auditoriaFM]) VALUES (11, N'COLOCAR POCO CONDIMENTO AL ALIÑO DE LA ENSALDA', CAST(0x0000A7D400000000 AS DateTime), N'1', N'Ninguno', 1, 1, 11, 1, 1, 1, 1, CAST(0x0000A7D4001082FA AS DateTime), CAST(0x0000A7E8015CDF0A AS DateTime))
GO
INSERT [GFR].[tb_sugerencia] ([id], [descripcion], [fechaIngreso], [prioridad], [comentario], [localId], [empleadoId], [evaluacionProcDetalleId], [procedimientoId], [estado], [auditoriaUC], [auditoriaUM], [auditoriaFC], [auditoriaFM]) VALUES (12, N'UTILIZAR TOCAS PARA EVITAR CABELLOS EN LOS PLATOS', CAST(0x0000A7D400000000 AS DateTime), N'1', N'Ninguno', 1, 1, 11, 1, 1, 1, 1, CAST(0x0000A7D4001082FA AS DateTime), CAST(0x0000A7E8015CDF0A AS DateTime))
GO
INSERT [GFR].[tb_sugerencia] ([id], [descripcion], [fechaIngreso], [prioridad], [comentario], [localId], [empleadoId], [evaluacionProcDetalleId], [procedimientoId], [estado], [auditoriaUC], [auditoriaUM], [auditoriaFC], [auditoriaFM]) VALUES (13, N'BRINDAR ACCESORIOS DE LIMPIEZA A LOS MOZOS', CAST(0x0000A7D400000000 AS DateTime), N'1', N'Ninguno', 1, 1, 12, 2, 1, 1, 1, CAST(0x0000A7D4001082FA AS DateTime), CAST(0x0000A7E8015CDF0A AS DateTime))
GO
SET IDENTITY_INSERT [GFR].[tb_sugerencia] OFF
GO
SET IDENTITY_INSERT [GFR].[tb_sugerencia_parametro] ON 

GO
INSERT [GFR].[tb_sugerencia_parametro] ([id], [descripcion], [nivel_prioridad]) VALUES (1, N'INCREMENTO DE GANANCIAS', N'ALTA')
GO
INSERT [GFR].[tb_sugerencia_parametro] ([id], [descripcion], [nivel_prioridad]) VALUES (2, N'CLIENTE SATISFECHO', N'ALTA')
GO
INSERT [GFR].[tb_sugerencia_parametro] ([id], [descripcion], [nivel_prioridad]) VALUES (3, N'TIEMPO DE ESPERA', N'ALTA')
GO
SET IDENTITY_INSERT [GFR].[tb_sugerencia_parametro] OFF
GO
SET IDENTITY_INSERT [GRH].[tb_empleado] ON 

GO
INSERT [GRH].[tb_empleado] ([Id], [Nombres], [ApePaterno], [ApeMaterno], [AuditoriaUC], [AuditoriaUM], [AuditoriaFC], [AuditoriaFM]) VALUES (1, N'Jorge', N'Perez', N'Solano', 1, NULL, CAST(0x0000A7E000000000 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [GRH].[tb_empleado] OFF
GO
ALTER TABLE [dbo].[Entrevista]  WITH CHECK ADD  CONSTRAINT [FK_Entrevista_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitud] ([Id])
GO
ALTER TABLE [dbo].[Entrevista] CHECK CONSTRAINT [FK_Entrevista_Solicitud]
GO
ALTER TABLE [dbo].[HistorialContrasenia]  WITH CHECK ADD  CONSTRAINT [FK_HistorialContrasenia_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[HistorialContrasenia] CHECK CONSTRAINT [FK_HistorialContrasenia_Usuario]
GO
ALTER TABLE [dbo].[Opcion]  WITH CHECK ADD  CONSTRAINT [FK_Opcion_Aplicacion] FOREIGN KEY([AplicacionId])
REFERENCES [dbo].[Aplicacion] ([Id])
GO
ALTER TABLE [dbo].[Opcion] CHECK CONSTRAINT [FK_Opcion_Aplicacion]
GO
ALTER TABLE [dbo].[OpcionPerfil]  WITH CHECK ADD  CONSTRAINT [FK_OpcionPerfil_Aplicacion] FOREIGN KEY([AplicacionId])
REFERENCES [dbo].[Aplicacion] ([Id])
GO
ALTER TABLE [dbo].[OpcionPerfil] CHECK CONSTRAINT [FK_OpcionPerfil_Aplicacion]
GO
ALTER TABLE [dbo].[OpcionPerfil]  WITH CHECK ADD  CONSTRAINT [FK_OpcionPerfil_Opcion] FOREIGN KEY([OpcionId])
REFERENCES [dbo].[Opcion] ([Id])
GO
ALTER TABLE [dbo].[OpcionPerfil] CHECK CONSTRAINT [FK_OpcionPerfil_Opcion]
GO
ALTER TABLE [dbo].[OpcionPerfil]  WITH CHECK ADD  CONSTRAINT [FK_OpcionPerfil_Perfil] FOREIGN KEY([PerfilId])
REFERENCES [dbo].[Perfil] ([Id])
GO
ALTER TABLE [dbo].[OpcionPerfil] CHECK CONSTRAINT [FK_OpcionPerfil_Perfil]
GO
ALTER TABLE [dbo].[ReporteEvaluacion]  WITH CHECK ADD  CONSTRAINT [FK_ReporteEvaluacion_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitud] ([Id])
GO
ALTER TABLE [dbo].[ReporteEvaluacion] CHECK CONSTRAINT [FK_ReporteEvaluacion_Solicitud]
GO
ALTER TABLE [dbo].[Solicitante]  WITH CHECK ADD  CONSTRAINT [FK_Solicitante_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitud] ([Id])
GO
ALTER TABLE [dbo].[Solicitante] CHECK CONSTRAINT [FK_Solicitante_Solicitud]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([PerfilId])
REFERENCES [dbo].[Perfil] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [GAC].[tb_reclamo]  WITH CHECK ADD  CONSTRAINT [FK_tb_reclamo_tb_local] FOREIGN KEY([LocalId])
REFERENCES [GFR].[tb_local] ([id])
GO
ALTER TABLE [GAC].[tb_reclamo] CHECK CONSTRAINT [FK_tb_reclamo_tb_local]
GO
ALTER TABLE [GFR].[tb_criteriosAceptacion]  WITH CHECK ADD  CONSTRAINT [FK_tb_criteriosAceptacion_tb_procedimiento] FOREIGN KEY([ProcedimientoId])
REFERENCES [GFR].[tb_procedimiento] ([Id])
GO
ALTER TABLE [GFR].[tb_criteriosAceptacion] CHECK CONSTRAINT [FK_tb_criteriosAceptacion_tb_procedimiento]
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimiento]  WITH CHECK ADD  CONSTRAINT [FK_tb_evaluacionProcedimiento_tb_local] FOREIGN KEY([LocalId])
REFERENCES [GFR].[tb_local] ([id])
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimiento] CHECK CONSTRAINT [FK_tb_evaluacionProcedimiento_tb_local]
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimientoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_tb_evaluacionProcedimientoDetalle_tb_evaluacionProcedimiento] FOREIGN KEY([EvaluacionProcedimientoId])
REFERENCES [GFR].[tb_evaluacionProcedimiento] ([Id])
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimientoDetalle] CHECK CONSTRAINT [FK_tb_evaluacionProcedimientoDetalle_tb_evaluacionProcedimiento]
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimientoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_tb_evaluacionProcedimientoDetalle_tb_procedimiento] FOREIGN KEY([ProcedimientoId])
REFERENCES [GFR].[tb_procedimiento] ([Id])
GO
ALTER TABLE [GFR].[tb_evaluacionProcedimientoDetalle] CHECK CONSTRAINT [FK_tb_evaluacionProcedimientoDetalle_tb_procedimiento]
GO
ALTER TABLE [GFR].[tb_local]  WITH CHECK ADD  CONSTRAINT [FK_tb_local_Distrito] FOREIGN KEY([distritoId])
REFERENCES [GFR].[tb_distrito] ([Id])
GO
ALTER TABLE [GFR].[tb_local] CHECK CONSTRAINT [FK_tb_local_Distrito]
GO
ALTER TABLE [GFR].[tb_local]  WITH CHECK ADD  CONSTRAINT [FK_tb_local_tb_franquicia] FOREIGN KEY([franquiciaId])
REFERENCES [GFR].[tb_franquicia] ([Id])
GO
ALTER TABLE [GFR].[tb_local] CHECK CONSTRAINT [FK_tb_local_tb_franquicia]
GO
ALTER TABLE [GFR].[tb_local]  WITH CHECK ADD  CONSTRAINT [FK_tb_local_Usuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [GFR].[tb_local] CHECK CONSTRAINT [FK_tb_local_Usuario]
GO
ALTER TABLE [GFR].[tb_sugerencia]  WITH CHECK ADD  CONSTRAINT [FK_tb_sugerencia_tb_empleado] FOREIGN KEY([empleadoId])
REFERENCES [GRH].[tb_empleado] ([Id])
GO
ALTER TABLE [GFR].[tb_sugerencia] CHECK CONSTRAINT [FK_tb_sugerencia_tb_empleado]
GO
ALTER TABLE [GFR].[tb_sugerencia]  WITH CHECK ADD  CONSTRAINT [FK_tb_sugerencia_tb_local] FOREIGN KEY([localId])
REFERENCES [GFR].[tb_local] ([id])
GO
ALTER TABLE [GFR].[tb_sugerencia] CHECK CONSTRAINT [FK_tb_sugerencia_tb_local]
GO
USE [master]
GO
